[2016-10-03 07:24] zertan opened #1 "Access kegg information from kegg API"
Currently, there is no direct access to updated databases for use in downloadKEGG, getGenesFromKEGG, etc.). This may be resolved by updating the functions to use the kegg rest api. Also state clearly that the current functions use older version of the databases and add the older versions back to RAVEN.

[2016-10-09 19:03] simas232 opened #2 "Error in exportToExcelFormat"
Unbalanced brackets in Line 37

[2016-10-10 07:50] zertan commented on #2
Fixed. Please excuse these errors, they should really not be present in master. We might have to make a secondary testing branch.

[2016-10-10 07:50] #2 closed

[2016-10-14 10:42] amirfeizi opened #3 "The problem with exportToExcelFormat()"
Hi Daniel,

I have been using exportToTabDelimite() to get an excel file out puts from "iAdipocytes1809.xlm". The function give an error of as below

Error: File: exportToExcelFormat.m Line: 37 Column: 43
Unbalanced or unexpected parenthesis or bracket.

I checked the function documentation and it seemed it needs to provide a path for the directory to save which I did but it did give me the same e

[2016-10-18 08:10] edkerk opened #4 "setRavenSolver not working for Windows"
It is not possible to append the choice of RAVEN solver to the MATLAB startup in Windows. This is due to the following code:
[code]
Running pathdef on my Matlab in Windows gives something that starts like

So setRavenSolver then ends up trying to make a file at location

And this is of course an invalid location. I'm not sure where startup.m is supposed to be placed, so I can't suggest how to fix

[2016-10-21 19:09] zertan commented on #3
This seems to be a duplicate of issue #2. Please do a 'git pull' to get an updated repo. We'll also delve deeper into import/export in the future!

[2016-10-21 19:09] #3 closed

[2016-10-22 17:14] zertan commented on #4
Changed the code to use the default user path for each os. May I ask you to do a git pull and see if it resolved the problem?

[2016-10-22 19:12] edkerk commented on #4
It did not solve the problem. I know had some time to look at it myself, the main problem is with

which should be the following to make it work in Windows (in linux/mac, paths are separated by ':', in Windows it's by ';'

        up=regexp(up,';','split');
else
        up=regexp(up,':','split');

However, I now fixed it in my local branch by setting the solver as a Matlab preference. This seems t

[2016-10-22 22:12] zertan commented on #4
You should now have write access. Push to your feature/bug fix branch and I will be happy to merge it! You can add "Fixes issue #2" to the commit message to automatically close this issue (once the branch is merged). //Daniel

[2016-10-23 13:30] #4 closed

[2017-01-27 13:39] HenrikCordes opened #15 "ravenToCobraModel.m"
Hi there,

could be that in line 29
fields = rmfield(rModel,fieldnames(setdiff(fieldnames(rModel), f.optionalEquiv)));
should be
fields = rmfield(rModel,(setdiff(fieldnames(rModel), f.optionalEquiv)));
instead?

[2017-02-01 00:41] simas232 commented on #15
Hi @HenrikCordes ,

The function ravenToCobraModel.m is now fixed and should work fine. Please download the latest commit from 'devel' branch, test it and let us know about the results you got.

The obtained COBRA model structure is supposed to be compatible with the latest COBRA version.

[2017-02-07 13:10] rasmusagren opened #16 "Make RAVEN into a Matlab toolbox"
A main drawback with Matlab compared to, say, Python or R is that there is no convenient way to package and install code. Matlab still depends on manually handling a list of search paths, which feels ancient compared to the advanced package managers such as pip or conda used by its competitors.

Mathworks have recently taken a small step in that direction, and as of  R2016a there are APIs for pack

[2017-02-14 12:03] tpfau opened #17 "xlsx problem on Linux using checkTasks"
Hi,
When running the checkTasks on Linux using e.g. the files provided by Blais et al ( http://www.nature.com/articles/ncomms14250 ), I run into troubles that the file cannot be read. Would it be possible to add an option to use tab separated value files instead of xls here?
I assume this is not an issue if there is a working excel installation on a windows machine, but even on windows this makes

[2017-02-18 15:39] edkerk commented on #17
I had a quick look at this, sounded easy to fix. parseTaskList should be adjusted to also allow to read tab-delimited files. However, Matlab doesn't seem to have an good working equivalent for xlsread(), importdata() should work, but it finds the combination of text and numbers very confusing.
Regardless, according to xlsread() documentation:

So it shouldn't be a problem. What error message do yo

[2017-02-19 18:32] rasmusagren opened #18 "Update to 1.10 from 1.08"
Hi all,

It seems that you based the "new" RAVEN on version 1.08, but the newest version is actually 1.10. This is because I used some RAVEN functionality while I was at Novo Nordisk and I also fixed bugs if I got mails about them. Something I should probably have mentioned earlier :)

The changelog for 1.08 to 1.10 says:

-Changed in loadSheet to allow for formulas in Excel sheets
-Fixed a bug in

[2017-02-20 05:39] tpfau commented on #17
Hi,
I just found out part of the error, I expected a # to make the parser ignore the first line, but it did not, so I had to remove the line (which was the supplementals description).
In addition, when working with Openoffice, I encountered an issue where matlab told me that it did not understand the file format. Modifying the file with excel worked in the end.
But I would still suggest to alter t

[2017-02-20 12:54] edkerk commented on #18
This is great!

I've been submitting stuff to devel branch, not to make the master branch unstable, and then after a while merge devel to master if everything continues to work fine. The only issue between devel and 1.10 I see is changes in importModel that would need to be checked (as it also changed in '1.10').

I had a quick look at 1.10, and I suppose we should make sure we keep the changes an

[2017-02-20 13:06] rasmusagren commented on #18
That's basically what I tried to do but for the master branch. I tried to be careful but the problem is that there are hundred of small changes that primary deals with "good coding practices" and/or compatibility with new Matlab versions. Maybe we could diff devel to master and then manually merge changes to 108_to_110? In retrospect I should of course merged with devel instead of master :) It wou

[2017-02-20 14:33] simas232 commented on #18
The changes in RAVEN 1.10 are essential, so we obviously need to include them in the repository. I therefore agree with Ed's suggestion that we should incorporate RAVEN 1.10 changes into 'devel' branch. This will also deal with your recent commits in 'master' branch, Rasmus. We can delete '108_to_110' once the whole incorporation process is complete and go on with 'devel' branch.

So what about cr

[2017-02-21 15:03] rasmusagren commented on #18
I think we can use git cherry-pick to select the commits that you've made in devel and then merge them into 108_to_110. I think it should give the fewest conflicts to handle.

[2017-02-22 12:24] edkerk commented on #18
Ah, now I get it, your commit 825022697303acae726ad5df60d409343dd3e5e7 already shows the diff to master, it seems like you already _applied_ the 110 changes to the master version, instead of just uploading your 110 version.

So we should first cherry-pick devel to 108_to_110. I can do this, as most commits in devel are currently mine. Then, we should merge 108_to_110 to master (probably good to ke

[2017-02-23 08:47] edkerk commented on #18
I have cherry-picked devel to 108_to_110 (except from commit 4d0a94060b464b34bfa69e35345b0141b773ac3a, which shouldn't go to master).

The next step is merging 108_to_110 to master. I suppose we then also want to merge master to devel, to make sure that they are identical, so we can start "_fresh_" after this confusion with multiple branches?

Should we double check that the changes in commits 825

[2017-02-23 08:57] rasmusagren commented on #18
Great! Could we sit down in person and look at this a little tomorrow? I feel that there is quite a big risk of something going badly here :) I’m available all day.

[2017-02-23 09:32] edkerk commented on #18
Sounds good. I've booked the seminar room from 13:00, we could probably quickly go through each file diff, most of them are very low risk, and we can then focus on the few risky ones. **Anyone else is welcome/encouraged to join.** Just FYI: the solver part was done by Daniel, but he's no longer in the group.

[2017-02-24 15:05] edkerk commented on #18
Just to inform, me and Rasmus will check a few more tricky functions and submit these to the 108_to_110 branch, hopefully we'll be done soon. Afterwards, this will be merged to master.

[2017-02-27 10:51] rasmusagren commented on #18
I'm thinking of dropping support for exporting to xls (badly supported, binary, proprietary, mainly for Windows and old) and only keeping xlsx (open source, xml-based and much better support). MS introduced xlsx in Office 2007 so most people should use it by now. Since these formats are so vastly different they also require a lot of duplicate code for writing. Dropping xls would allow for better c

[2017-02-27 12:02] simas232 commented on #18
I strongly agree that we should leave only xlsx compatibility. During these two years I used RAVEN in macOS and Unix (Ubuntu/CentOS) and never had any problems with reading/writing xlsx files in these platforms.

[2017-02-28 11:02] rasmusagren commented on #18
I've rewritten exportToExcelFormat from scratch and how several other Excel-using functions deal with loading libraries. I've also dropped support for xls. I think the code is neater now and I could remove quite a lot of redundant code, but it would maybe be good to validate if this works as intended. I did this on OSX, it would be great if someone on Windows could check out the 108_to_110 branch

[2017-02-28 11:18] rasmusagren commented on #18
Actually, import, export and then import again :)

[2017-02-28 12:16] edkerk commented on #18
Works fine here. Import, export and them import again, no error messages, compareModels indicates that the models are identical.

[2017-02-28 13:51] rasmusagren commented on #18
Great. I think I've completed "my" tasks now. I've rewritten how Apache POI is used and re-added the optimizeProb wrapper. I've removed the dependency on xlsread for all functions except for getExpressionStructure and getBlastFromExcel, which I didn't feel were worth the effort. I don't have a template file for those and they are very specific functions which could probably just as well be removed

[2017-02-28 14:39] edkerk commented on #18
Probably fine to remove getExpressionStructure and getBlastFromExcel, indeed not worth the effort to update.

I've never used parseTaskList, so can't help here.

metComps and rxnComps have been like they are since RAVEN 1.00. See line 119 in addMets.m now:

`t2=strcat(model.metNames,'***',model.comps(model.metComps));`

versus line 112 in version 1.01:

`t2=strcat(model.metNames,'¤¤¤',model.comps(

[2017-02-28 14:45] rasmusagren commented on #18
You should, tasks are my favourite feature in RAVEN :)

Ok, then I just misremembered. I think we can merge. Thanks for your efforts!

[2017-03-01 09:24] edkerk commented on #18
I committed the changes to KEGG functions. If there are no further comments, I will merge with master and devel at the end of today.

[2017-03-02 07:31] edkerk commented on #18
Merged

[2017-03-02 07:31] #18 closed

[2017-03-02 08:12] edkerk commented on #15
This function is now also in the master branch

[2017-03-02 08:12] #15 closed

[2017-04-06 13:53] edkerk commented on #1
The downloadKEGG function has been removed, as it wouldn't work with newer Matlab version anyway. Kegg rest api doesn't allow bulk download. If one downloads the KEGG data anyway, the existing functions can still be used to generate the required KEGG structures for Raven.

[2017-04-06 13:53] #1 closed

[2017-06-18 21:42] edkerk opened #27 "checkInstallation solver choice"
It now sets the solver to gurobi, even if both gurobi and mosek failed. This seems misleading. Also, it doesn't check whether 'cobra' is an option. This should probably be coded as third solution. Finally, if libSBML fails then the solvers also fail. Instead, when libSBML fails the script should load a .mat model and attempt the solvers on those.

[2017-09-18 16:11] simas232 commented on #27
Fixed an issue, when LP solver functionality check depended on libSBML. Now LP solver is tested by loading the model from empty.mat, thereby circumventing libSBML.
Commit b5ddd2efdd2c1e60f8c131d63f44bc1758573616

[2017-09-19 14:22] simas232 commented on #27
The solver choice is now set to 'none' if there are no working LP solvers available. Also added 'cobra' as the third choice for setRavenSolver.

Commit 511867c819d69a71baef642bceb234aa0e1b720e

[2017-09-19 14:22] #27 closed

[2017-10-10 12:34] johan-gson opened #28 "RAVEN is incompatible with the downloadable tsv files of HPA version 17"
I added an optional parameter to specify HPA version, defaulted to 17. The old behavior can still be had by specifying an earlier version.

[2017-10-10 12:53] johan-gson commented on #28
#29 Made a fix of this that supports multiple versions.

[2017-10-10 17:14] #28 closed

[2017-10-10 18:20] simas232 commented on #16
Having RAVEN as the packaged Matlab toolbox is advantegous, because the toolbox itself would be automatically added to Matlab pathlist. However, the installation process would still be semi-automatic as the user would need to install libSBML MATLAB API and solver software manually. It's possible to include libSBML in future RAVEN versions, but as for solver software, an open-source program must be

[2017-10-10 18:22] simas232 opened #30 "Implement open-source solver software"
The RAVEN toolbox should be compatible with at least one an open-source solver software. This would enable automatic installation of the toolbox.

[2017-11-12 17:53] vetles opened #31 "Issue regarding getBlast"
When trying to perform a bidirectional BLASTp between a query (.fa file) a target set (.fasta file) using the getBlast function, I get the following error message:

Error using importdata (line 136)
Unable to open file.

Error in getBlast (line 86)
        A=importdata([outFile '_' num2str(i)]);

Is there anyone who has experienced a similar scenario, and are there any ways to fix this?

[2017-11-12 20:30] edkerk commented on #31
Most likely is that the query and target files are not in the current folder. `pwd` will show you your current folder, and `dir` shows you which files are in this folder. Ensure that the two FASTA files are both in this folder.

If this does not solve your problem, can you please provide some more information?

- RAVEN version
- Operating system and version
- MATLAB version

[2017-11-13 08:27] vetles commented on #31
Both the query and target files are in the current folder, so this doesn't seem to be the issue. I am currently using:

- RAVEN Toolbox v. 2.0.0-alpha

- MATLAB 2016b

- Windows 10, version 1703 (OS-build 15063.674)

[2017-11-13 08:35] edkerk commented on #31
Please download the latest version from: https://github.com/SysBioChalmers/RAVEN/tree/raven2. getBlast should now be more specific about where it fails. (Your error message indicates that it fails to read the output files from BLAST, but it is not clear where it exactly failed).

[2017-11-13 08:52] Hao-Chalmers commented on #31
This might be related to the access rights to the temporary folder in Windows, which could happen on a computer without administrator privilege.

BTW, you may have a look the Figure5_ver3 at the shared folder, which was just updated based on your comments.

[2017-11-13 10:29] vetles commented on #31
I downloaded the latest version of RAVEN, and the function worked fine. Thank you so much for helping out.

[2017-11-13 10:38] edkerk commented on #31
No problem, thanks for using RAVEN and reporting issues.

[2017-11-13 10:38] #31 closed

[2017-11-17 16:50] vetles opened #32 "Empty draft model from getModelFromHomology"
I'm having some issues using the function getModelFromHomology. When using a template model, as well as a blast structure generated from getBlast as input arguments, the function only returns an empty draft model. I've made sure that the gene names in the blast structure is compatible with the gene names in the template model. Has anyone experienced similar problems with getModelFromHomology?

I a

[2017-11-18 09:58] edkerk commented on #32
The most common issue is indeed that gene names are not in the same format. You indicate that this is fine.

Another issue is that the model ids that you specify in getBlast should match the ones you specify when running getModelFromHomology.

Example:
`templateModel.id`  check model ID of template model. Let's say it's:  `'tmp'`

`blastStructure = getBlast('new', 'new_organism.fasta', {'tmp'}, {'

[2017-11-18 10:07] simas232 commented on #32
Another reason could be that the model is inappropriately fed to getModelFromHomology. Before running getModelFromHomology, put your template model to another cell array structure:

`templateModelList{1}=templateModel;`

and then try to run getModelFromHomology while giving templateModelList as the first parameter

[2017-11-18 10:17] vetles commented on #32
I've made sure that the template model is in the format of a cell array. The ID fields of the template model and the blast structure are identical, as well as the ID of the organism of interest and the corresponding ID in the blast structure.

The organisms are closely related, and I've made sure that the blast structure contains significant matches involving genes that are a part of the template

[2017-11-18 10:23] simas232 commented on #32
What about the blast structure, which you get from getBlast:

a) If you open it, do you have both non-blank fromId to toId in the first row?
b) Also check fromGenes and toGenes. Is everything fine with the gene names of the template organism?

[2017-11-18 10:30] vetles commented on #32
a) The fromId of field 1 contains the ID of my template organism ('Aurli1'), and toId of the same field contains the ID of my organism of interest ('T66'). The second field contains the IDs in the reverse orientation.

b) Originally, the gene names weren't compatible with the gene names of the template model, so I made a small script to make them so (just removed some appending characters).

[2017-11-19 09:29] simas232 commented on #32
Dear @vetles,

This case requires more thorough evaluation. Could you put both multi-fasta files (for the target and template organisms) with your template model into the archive and upload it here?

[2017-11-20 13:39] edkerk opened #33 "Not use extractfield in importModel"
To reduce reliance on additional toolboxes (Mapping Toolbox), can we not use the extractfield function in importModel? See line 840:

       if isfield(modelSBML,'fbc_geneProduct')
           [rxnGeneMat, genes]=getGeneMat(grRules,extractfield(modelSBML.fbc_geneProduct,'fbc_id'));
       else
           [rxnGeneMat, genes]=getGeneMat(grRules);
       end

[2017-11-20 13:49] edkerk commented on #33
Fixed 6f68bb121c163bcb08fbd9d49f3f2d37ce05d930

[2017-11-20 13:49] #33 closed

[2017-11-21 11:16] vetles commented on #32
@simas232

I contacted you by e-mail where you will find the files, as well as some supplementary information.

[2017-11-22 09:51] simas232 commented on #32
After the personal communication with @vetles we found that the protein sequences in multi-fasta file for target organism were not named exactly like genes in template model. After fixing this, we were able to generate the draft model for the target species.

[2017-11-22 09:51] #32 closed

[2017-12-28 04:33] junhuili opened #34 "Availability of HMMs for KEGG"
Hello,

I tried to download the HMMs, but the message of 'biomet-toolbox.org is coming soon' showed up. I wondered whether there is another way to download these HMMs?

Thanks in advance,
Junhui

[2017-12-28 05:28] edkerk commented on #34
Dear Junhui,

We have developed version 2 of the RAVEN toolbox, which can now automatically download different sets of KEGG HMMs from our servers. Please get this version from https://github.com/SysBioChalmers/RAVEN/tree/raven2.

Thanks for your interest in RAVEN!

[2017-12-28 05:30] #34 closed

[2018-01-12 08:17] bapimandal opened #36 "help: getKEGGModelForOrganism download pre-trained HMMs"
While following the RAVEN tutorial I was unable to download the model from KEGG through 'ftp'. Each time it throws an error like :
 

 
I would be very glad if someone could show me a way around to fix the issue.

Thanks,
Bapi Mandal.

[2018-01-12 09:08] simas232 commented on #36
Hi @bapimandal ,

Could you try to download [the latest RAVEN version](https://github.com/SysBioChalmers/RAVEN/releases/tag/v2.0.0-rc.1) and start over? The latest release should fix your issue.

[2018-01-12 10:46] bapimandal commented on #36
Hello @simas232

I tried with the latest version and this time I got a different error:
'The file 'genes.pep' cannot be located at euk100_kegg82/ and should be downloaded from the KEGG FTP.'

Also I would like to know whether or not can this script getKEGGModelforOrganism be used for my any organism present in the KEGG.

[2018-01-12 13:40] edkerk commented on #36
1. Can you please specify what command you are exactly running? Tutorial4.m specifies:

`model=getKEGGModelForOrganism('sce','sce.fa','euk100_kegg82','output',false,false,false,10^-30,0.8,0.3,-1);
`

and this command should work when in the `tutorial` folder (you can check this with `pwd`).

2. Perhaps something went wrong with downloading the HMMs. Try to remove the euk100_kegg82 folder with `rmd

[2018-01-12 19:46] simas232 commented on #36
Yes, you can definitely use RAVEN to reconstruct model from KEGG as this is the one of the key RAVEN features. Although KEGG FTP access is not freely available, RAVEN contains reformatted KEGG reactome database with KO (KEGG Orthology) associations in MAT format. This means that for the model reconstruction from KEGG the user does not need to have KEGG FTP subscription. We update MAT files once pe

[2018-01-17 15:29] edkerk opened #37 "Export as YAML"
To facilitate development and versioning of GEMS in GitHub, it would be very beneficial if RAVEN can export models in YAML format, as this allows full diff of the whole XML file, instead of the more limited information that is given in the TXT export.

[2018-01-17 15:38] edkerk commented on #37
Parser for YAML import function would have low priority, as the aim is to use YAML just for model diff, while keeping XML as the preferred format for I/O operations.

[2018-01-30 17:24] edkerk commented on #37
Testing support for YAML export implemented in `yaml_export` branch (https://github.com/SysBioChalmers/RAVEN/commit/88557da517607de7af49eab7082a84952bde8b71)

[2018-02-08 14:48] edkerk opened #41 "Annotation problems + allow multiple subSystems"
RAVEN has two problems related to the annotation:
1. When importing yeast consensus model, the annotation is lost for reactions.
2. RAVEN doesn't function when specifying multiple subSystems for each reaction as cell array. See: SysBioChalmers/YeastMetabolicNetwork-GEM@03153ce79b7af9df71c8147eb8a8208ba1c86225.

- [x] importModel needs to be updated
- [x] exportModel needs to be updated
- [x] raven

[2018-02-08 14:56] edkerk commented on #41
subSystems are no longer stored in modelSBML.reaction.notes, but in modelSBML.groups.

In importModel, should be parsed separately after looping through modelSBML.reaction (after line 650)

[2018-02-08 15:09] simas232 commented on #41
Regarding Excel format, I suggest we use semicolons to separate subSystems.

[2018-02-08 16:00] edkerk commented on #37
update: the yaml export function (as part of exportModel) seems to be working well, and it has been promoted to the `devel` branch (#40).

[2018-02-08 16:00] #37 closed

[2018-02-08 16:03] edkerk commented on #41
importModel is now working: 53cc5daae9efa01c8d576c09acdab60c7cd85801, available from the [multiple_subSystems](https://github.com/SysBioChalmers/RAVEN/compare/multiple_subSystems) branch

[2018-02-20 12:59] Hao-Chalmers commented on #41
This bug was report by whom, users or SysBio members?

[2018-02-20 23:22] edkerk commented on #41
By me.

[2018-02-23 19:19] edkerk commented on #41
Looking at the exportModel function now (to SBML). As mentioned above, subSystems will no longer be stored in modelSBML.reaction.notes, but in modelSBML.groups. Is this okay?

[2018-02-23 21:22] simas232 commented on #41
Yes, it is okay. It is nice that SBML does have native support for this, so there is no need to save it in notes field.

[2018-02-23 23:17] edkerk commented on #41
exportModel now supports multiple subSystems as groups in the SBML file (commit f3add22fb877ae9470f0a77c2bc779db93ba818c and earlier).

From now on, the subSystems structure is a cell array, not string array.

[2018-02-23 23:24] edkerk opened #46 "format of model.rxnConfidenceScores"
Cobra specifies that model.rxnConfidenceScores should be a numeric array. This makes sense.

For Raven, `ravenCobraWrapper` converts this to a cell array (of doubles), while `checkModelStruct` suggest that model.rxnConfidenceScores should be an array of strings.

Is there an explicit reason why Raven specifies that rxnConfidenceScores should be a cell array? If so, should it then be numeric or str

[2018-02-24 11:31] simas232 commented on #46
It doesn't have an explicit reason. We can therefore follow COBRA specification for rxnConfidenceScores.

[2018-02-24 12:04] Hao-Chalmers commented on #41
By allowing the association of one reaction to multiple subSystems now and given that one subSystem always contains multiple reactions, a better representation of reaction-subSystem relationship would be a matrix (a natrual advantage of Matlab), which might be a better way than cell array.

[2018-02-24 12:32] Hao-Chalmers commented on #46
A number of functions need to be modified regarding this format change.

[2018-02-24 17:36] simas232 commented on #41
We may implement this, but then we would make ravenCobraWrapper and possibly importModel, exportModel functions slower. I think that ravenCobraWrapper is slow enough already, so therefore suggest use subSystems field the way it is now.

I see that for gap filling and spontaneous reactions adding purposes it may be nice to have a function called getRxnsFromSubsystem. What do you think about such fu

[2018-02-24 19:39] edkerk commented on #46
Let's convert to numeric array, and close this issue when completed.

[2018-02-24 19:43] edkerk commented on #41
Good idea, but indeed let's keep subSystems as it is, and implement an additional function to construct such a matrix to be used by `getRxnsFromSubsystem` -like functionality.

[2018-02-28 11:31] johanbj opened #48 "Flux direction of mean flux, in random sampling"
Running the randomSampling.m script on a model with all reaction lower boundaries set to 0 and with all reactions non-reversible still rendered negative mean fluxes. "Muting" lines 59-62 in the script seems to solve the problem completely.

[2018-02-28 13:41] Hao-Chalmers commented on #48
Since you defined the model with 'biologically relevant' bounds (lb=0) in simulation, in which case the third parameter 'replaceBoundsWithInf' should be set as false (this is equivalents to 'Muting lines 59-62'). This information can be found from the help message.

So everything should be fine if you do such: solutions=randomSampling(model, 1000, 0);

[2018-02-28 15:08] edkerk commented on #48
As Hao mentioned, using replaceBoundsWithInf = false indeed has the same effect.

Nonetheless, just because you have lb=0 for all reactions doesn't mean your model only has biological relevant bounds (you can still have ub=1000, which is not biological relevant!). So you shouldn't be motivated to set replaceBoundsWithInf = false, based on the documentation.

Regardless, this is a small bug that I'

[2018-02-28 15:20] edkerk commented on #48
Fixed in 230e4a79f15e4899124a5eaa7cf144313b082b21

[2018-02-28 15:20] #48 closed

[2018-03-02 07:43] johanbj commented on #48
Very clear explanation, thank you for the help!

[2018-03-02 12:25] edkerk opened #50 "getModelFromMetaCyc makes grRules with inconsistent data format"
Fixes:
- [x] grRules as cell array of strings (see this comment)
- [x] consistent use of ()-brackets in grRules (see 2 comments below)

After running getModelFromMetaCyc, the resulting model.grRules uses inconsistent data formats.

grRules should be "Column Cell Array of Strings", but the current resulting cell array is a combination of strings and cells:

[code]

This should all be formatted as s

[2018-03-02 12:27] Hao-Chalmers commented on #50
Will look into this

[2018-03-02 12:43] edkerk commented on #50
Changing brackets from {} to () in line 57:
`	metaCycModel.grRules{i}='';`
and line 119:
`			metaCycModel.grRules{i}=grRule;`

seems to prevent this, but it introduces problems with some other grRules (metaCycModel.grRules(15) now fails while running getMetaCycModel). So probably best to go through the code of the function and double check that, whatever the grRule defined, it always writes a stri

[2018-03-02 12:46] Hao-Chalmers commented on #50
I don't remember exactly. the ones with () might be complexes.

[2018-03-02 12:58] edkerk opened #51 "export model in GitHub-ready formats"
Todo:

- [x] SBML format
- [x] MATLAB format
- [x] YAML format
- [x] COBRA-text format
- [x] combine all functionality in one function (`exportForGit.m`)
- [x] include versioning of toolboxes and packages
- [x] test functionality of exportForGit on existing GitHub-based models
- [x] document functionality in `exportForGit` function

Develop a function that automatically exports the model in format

[2018-03-02 13:01] edkerk commented on #51
Working on this on branch [feat/yaml_export](/SysBioChalmers/RAVEN/tree/feat/yaml_export).

[2018-03-02 13:07] Hao-Chalmers commented on #51
What do you mean by "combined function" and "test function"?

[2018-03-02 13:17] edkerk commented on #51
Combine everything in one function (e364d82ac1f899e2601da0f01aee92fb53672253) and test out its functionality. I'm working on this.

[2018-03-05 12:04] danieljcook opened #55 "Excel I/O problems using MATLAB 2017b and later"
**Edit: a workaround for this problem is provided, see: https://github.com/SysBioChalmers/RAVEN/issues/55#issuecomment-478980100**

Attempting to import an Excel model (.xlsx) using the command "importExcelModel" results in the following error:

Error using importExcelModel (line 140)
Java exception occurred:
java.lang.NoClassDefFoundError: org/apache/commons/collections4/ListValuedMap

	at org.ap

[2018-03-05 12:19] Hao-Chalmers commented on #51
In `yaml_export` function, maybe it can just extract out information form the model itself, instead of relying on the libSBML (then avoid the issue of out of memory).

[2018-03-05 12:23] edkerk commented on #51
That would mean extensive development to write that function, plus introduction of a non-standard file format.

[2018-03-05 12:29] Hao-Chalmers commented on #51
There are pros and cons need to be balanced when choosing alternative approaches. Note that this yaml model format itself is non-standard.

[2018-03-05 13:03] edkerk commented on #51
[YAML](http://yaml.org/) is a standardized file format, perhaps not extensively used for displaying genome-scale models.

However, the XML file is the ultimate format for model exchange (hence no support for YAML import). Diff of XML files is however messy. You can see YAML as a more readable and minimal representation of XML, so ideal to represent the changes in the XML file in YAML format.

[2018-03-05 13:45] Hao-Chalmers commented on #51
Just try to suggest alternative ways in implementing export function for YAML format, which doesn't has to be restricted by existing XML format.

[2018-03-05 15:49] simas232 commented on #55
This is the problem of Matlab 2017b. It is still possible to fix the Excel model export by adding apache-commons jar file to addJavaPaths, but regarding the Excel file export, onlyl xls format works fine.

According to my investigation, there is nothing bad about Excel I/O functions in RAVEN, but rather the problems of apache-poi itself. I even tried to create a small xlsx file with several rows i

[2018-03-05 15:54] simas232 commented on #55
By the way, Matlab 2017b is already bundled with apache-poi, version 3.15. I am not sure, how Matlab prioritizes Java packages, if jar files with identical names are found in multiple directories, though.

[2018-03-12 09:47] Hao-Chalmers commented on #50
MetaCyc incorporates complex-subunit relationship into associated enzymes. This information was attempted to be presented in grRule. To separate enzymes with and without subunits, I added () only to those enzymes with subunits, which means the isoenzymes without () have no subunits.

Since some complexes have only one subunits (maybe in homodimer or homotrimer). They appeared to be a bit strange.

[2018-03-12 13:41] Hao-Chalmers commented on #50
The parentheses surrounding single-subunit enzyme complexes have been removed. Now both issues had been fixed in the branch [getModelFromMetaCyc_inconsistent_grRules_format](https://github.com/SysBioChalmers/RAVEN/compare/master...fix/getModelFromMetaCyc_inconsistent_grRules_format). please review the pull request @edkerk

[2018-03-13 11:19] #50 closed

[2018-03-14 11:14] silviamorins opened #59 "Pre-trained Hidden Markov Models (HMMs) not available for download"
Hi,
the files containing the Pre-trained Hidden Markov Models (HMMs) are currently not available for download - do you know when it will be possible to have them again? In order to use them for a model reconstruction inside the Toolobox.

[2018-03-14 12:07] edkerk commented on #59
I assume that you refer to the links in the README.md / Wiki.

HMMs are now automatically downloaded by the `getKEGGModelForOrganism` function, as detailed in the documentation `..\doc\external\kegg\getKEGGModelForOrganism.html`.

Please inform us if downloading using the `getKEGGModelForOrganism` function does not work.

Will update the README.md / Wiki to reflect this.

[2018-03-14 12:13] edkerk commented on #59
Updated links in [Wiki](https://github.com/SysBioChalmers/RAVEN/wiki/HMMs) for manual downloading of HMMs.

[2018-03-14 13:29] silviamorins commented on #59
I will try the function now.
I see the links are updated, thank you - however, they lead all to the download of euk100_kegg82.

[2018-03-14 16:46] edkerk commented on #59
The links are updated and are now point to the correct files.

Are you sure you have write permission in your current working directory (run `pwd` to find out your current working directory). If not, then first browse to a directory that you know you have access rights (e.g. `My Documents`).

[2018-03-15 08:53] #51 closed

[2018-03-16 13:41] silviamorins commented on #59
That helped. Thank you!

[2018-03-16 13:59] #59 closed

[2018-03-19 14:59] simas232 commented on #41
All the mentioned issues are fixed now with in 6f29d82f24faceb6f80f7804edb04bf3ccb70209

[2018-03-19 15:05] simas232 commented on #46
Fixed in 2053ffea2786cb2d6409dfeb55d95d3a13145f7a and 4a5e7f4d9027c114368676ba4f786a5bbabc167a.

[2018-03-25 20:37] simas232 commented on #46
This issue is solved already in devel branch and will be closed as soon as the it will be updated to master branch.

[2018-03-26 16:06] Hao-Chalmers opened #66 "Add Field Specifications for RAVEN model"
We need to add a document describing the field specifications for RAVEN model, either in Wiki or in Docs. @simas232 Can you please do this.

[2018-03-28 09:23] BenjaSanchez opened #69 "fix: deletion of genes in "multiple rules""
**Description of the issue:**
After a short discussion in issue [#78](https://github.com/SysBioChalmers/YeastMetabolicNetwork-GEM/issues/78) of the yeast repo, I have been looking into how RAVEN handles gene deletions for complexes/isozymes/etc. The results are... well, not good:

- [x] When trying to use `removeGenes.m` to delete genes, the only ones that can be successfully deleted are genes in

[2018-03-28 09:32] simas232 commented on #69
Did you try to `expandModel` before removing genes?

[2018-03-28 09:34] edkerk commented on #69
Thanks for the thorough review of the functionality in both RAVEN and COBRA. I fully agree that this is a major issues, also as knockout predictions are often used as statistic for model quality.

Using `grRules` seems like the only reasonable approach. These should be in a correct formatting, no matter what, so a separate function for this is a good idea. Regarding your case study, make sure you

[2018-03-28 09:44] BenjaSanchez commented on #69
@simas232 I did not try `expandModel.m`, I suppose some of these issues will be fixed with that one as it simplifies the rules by adding new reactions (can it do it for any kind of rule?); however I think it's non-ideal to increase the size of the model excessively when we can just have a good parser that reads complicated rules, specially considering that many users use the "KO-model" for further

[2018-03-28 09:47] Hao-Chalmers commented on #69
RAVEN has been disregarding 'enzyme complex' since the very begining (probably due to the lack of this information from KEGG), this led to the only consideration of **`and`** relation in grRule and rxnGeneMat generation by treating everything as isoenzymes. We may work toward a total solution from this case, with thorough discussion.

Regarding the improving of knockout prediction, a detail survey

[2018-03-28 09:50] simas232 commented on #69
@BenjaSanchez, using `expandModel` before removing genes should fix the first issue you pointed in the first entry here.

[2018-03-28 10:02] Hao-Chalmers commented on #69
A well formatted **`grRule`** might be the key to proper/efficient parse. Knockout prediction may only aim to resolve grRules as such: **(GeneA and GeneB) or (GeneC and GeneB)**. And all relevant RAVEN functions could be modified to align with this format.

An addition reformatting function can then be developed for reformatting cases from **`(GeneA or GeneC) and GeneB)`** to **`(GeneA and GeneB)

[2018-03-28 10:08] IVANDOMENZAIN commented on #69
@Hao-Chalmers, we already thought about that and have developed a simple function for the standardization of grRules  that can be previously run and make them suitable for the parsing process.

[2018-03-28 10:56] BenjaSanchez commented on #69
@simas232 yes, but that would require the user knowing in advance that he/she should apply that function. By properly parsing rules, expanding the model will not be necessary, thus avoiding models growing excessively in size.

@Hao-Chalmers regarding the rule format, the parsing will be done efficiently for any format, as long as the rule is consistent, as it will be based on converting the text r

[2018-03-28 11:10] simas232 commented on #69
@BenjaSanchez, it depends what ideas do you guys have for rules parsing. My advise would be just to modify `removeGenes` in the following way:
1. Save _model.rxns_ and _model.rxnNames_ rxns as backup cell arrays.
2. Run `expandModel` in very beginning of `removeGenes`.
3. Run `contractModel` in the very end of `removeGenes`. This function does exactly the opposite than `expandModel`.
4. Restore th

[2018-03-28 11:31] BenjaSanchez commented on #69
@simas232 I'm pretty sure that just making a good parser (that btw we already have written)  will be both 1) simpler to understand and 2) more efficient, as adding rxns to later remove them will take a while (which can become an important factor in let's say a double-deletion study). What we can do later is to test which solution is faster? :)

[2018-03-28 11:53] simas232 commented on #69
@BenjaSanchez, I see your point. You can go ahead with this implementation, just make sure that your implementation does no break functionality of `getModelFromHomology`. This is the only RAVEN function, which calls `removeGenes`.

[2018-03-29 09:48] simas232 commented on #69
@BenjaSanchez, did you check whether the issues you pointed here are also relevant for RAVEN structure, obtained when importing SBML file with `importModel`? If so, we need to implement `standardizeGeneRules` not only in `ravenCobraWrapper`, but also in other RAVEN input functions.

[2018-03-29 10:04] BenjaSanchez commented on #69
@simas232 yes, we intend to include `standardizeGeneRules` at the beginning of `removeGenes` as well, but to make it optional with a flag, as we want to skip it in single/double/etc deletion studies and only do it once at the beginning for speed. The function could also have use in other sections of RAVEN I suppose, especially when a decision based on `geneRxnMatrix` is taken. Any functions like t

[2018-03-29 10:12] Hao-Chalmers commented on #69
Would be good to include/reuse `standardizeGeneRules` into `getRxnGeneMat`.

[2018-03-29 10:13] simas232 commented on #69
The idea would be to implement these standarized gene rules as RAVEN standard thereby ensuring that grRules with additional brackets does not exist. That is, all the RAVEN functions which generate RAVEN structure (`importModel`, `importExcelModel`, `ravenCobraWrapper`, `getModelFromHomology`, `getKEGGModelForOrganism`, `getMetaCycModelForOrganism`) would need have `standardizeGeneRules` implementa

[2018-03-29 10:18] Hao-Chalmers commented on #69
@simas232 regarding the existing (left behind) mat files, they can be updated by `standardizeGrRules`.

[2018-04-03 12:45] simas232 commented on #66
Added in Wiki, https://github.com/SysBioChalmers/RAVEN/wiki/RAVEN-model-structure.

[2018-04-03 12:45] #66 closed

[2018-04-06 07:03] tpfau commented on #69
From a COBRA Toolbox point of view:
This is not correct. While the COBRA toolbox does use `rxnGeneMat` in this function, it only does so in order to select which reactions could be influenced by the deletion.
And it will set all reactions to 0 which according to their GPR rule will no longer be able to carry flux (i.e. which don't have any remaining isozyme to catalyse them).

But I agree, that `d

[2018-04-06 07:17] BenjaSanchez commented on #69
@tpfau yes you are correct, I was too quick in my assessment but `deleteModelGenes` does indeed distinguish complexes from isozymes. What it does not do is to modify the corresponding rule to leave it without the gene that was deleted, and also as you state it leaves the gene still in the model.

To me what makes more sense is to give the user the choice: See PR #73 in which we included a flag so

[2018-04-06 07:48] tpfau commented on #69
@BenjaSanchez I absolutely agree, as long as you have complete knockouts.
The main issue comes, when performing only partial knockouts and continued usage of the model.
Essentially, what we would need is a "efficiency" vector for the genes in the model and some "originalBounds" stats. Otherwise a double knockdowns can become problematic.

[2018-04-06 08:17] tpfau commented on #55
Out of curiosity:
Does this only happen on Windows or also on unix?

I recently was annoyed enough to actually code something based on the xlwrite file-exchange submission also using its own bundled POI.
https://nl.mathworks.com/matlabcentral/fileexchange/65824-xlread

[2018-04-06 08:33] simas232 commented on #55
The same happens in Unix as well.

[2018-04-06 08:34] tpfau commented on #55
Strange, doesn't seem to happen here...
Do you have a file to test that?

[2018-04-06 08:38] simas232 commented on #55
Yes, I do have it.
[toyModel.xlsx](https://github.com/SysBioChalmers/RAVEN/files/1883250/toyModel.xlsx)

[2018-04-06 08:47] edkerk commented on #41
@tpfau Thanks for the tip! This functions works when model.subSystems is a structure of cell arrays? And does it work natively on RAVEN model structures? @simas232 If this function natively already supports RAVEN models, should we still include it (under a different name) in RAVEN?

[2018-04-06 08:50] simas232 commented on #41
@edkerk, model.subSystems are identical in RAVEN and COBRA, so yes, `findRxnsFromSubSystems` is natively compatible with RAVEN structure!

[2018-04-06 08:51] tpfau opened #75 "Static addition of POI to java class path"
Coming from #55 I just wanted to test this on my machine and noticed, that RAVEN adds a static java class path file.
Personally, I think it would be better if this is not done in a static way (the user might move the RAVEN directory, he might want to use a different poi lib etc pp). If you want this to happen by default, you could create a startup.m in the RAVEN main directory that adds the librar

[2018-04-06 08:57] tpfau commented on #41
It's up to you, I'm happy to create a PR with a different name (if you want), but I understand @simas232 argument, that it does not make a lot of sense to "just replicate" it.

[2018-04-06 09:01] Hao-Chalmers commented on #75
Good comments in improving robustness by adding relative (internal) path, other external libs (e.g. libSBML) may also be treated like this (with increased toolbox size though, but convenient for end users).

[2018-04-06 09:06] edkerk commented on #75
Could also write a function that checks whether paths are already added or not. If not, then dynamically (?, is that the opposite of static java class path files?) add the POI files.

This function can then be called in the beginning of relevant I/O functions.

Not sure about all other external libs, probably better to keep this in the checkInstallation, as this also ensures that all RAVEN toolbox

[2018-04-06 09:12] tpfau commented on #75
using `javaaddpath` does not require any specific rights/permissions.
This is something specific for the POI libraries (or any java librariers that are used).

[2018-04-06 09:14] tpfau commented on #55
I'm on a unix system, and I can't reproduce it...
As mentioned I did have issues in the past with xlsread on Matlab thats why I did implement that xlread wrapper, but since changing to xlread that never occured again.

[2018-04-06 09:29] tpfau commented on #55
I might have the culprit:
I didn't want static libraries added so I simply changed the code to use dynamic addition. See #76
And yes: Matlab 2017b on a ubuntu linux system (16.04).

[2018-04-06 12:16] edkerk opened #77 "support for export to cobrapy-compatible yaml format"
RAVEN should support writing a [cobrapy](http://cobrapy.readthedocs.io/en/latest/_autogen/cobra.io.yaml.html)-compatible yaml format, as this format is very concise.

- [x] make `writeYaml` function that writes a text file, and parses through the model structure.
- [x] remove old Yaml-export functionality
- [x] modify `exportForGit` to support new writeYaml function
- [ ] confirm that output from

[2018-04-10 11:40] edkerk commented on #69
It is discussed in commit 8d6a909b8712c71aa1721960663d8c7450992519 that the `standardizeGrRules` function should first be run stand-alone on a 'new' model, and if potential problematic `) and (` relationships are found, it should provide more detailed information on how the model should be curated.

When `standardizeGrRules` is invoked from other functions, it should either be silent, or only give

[2018-04-10 15:07] BenjaSanchez commented on #77
@edkerk sounds good! I will write the `writeYaml` function. I assume we should continue the work on branch `fix/export_functions`?

[2018-04-10 16:25] edkerk commented on #77
Yups, I'll push devel to it, to ensure latest changes.

[2018-04-12 12:40] BenjaSanchez commented on #77
@edkerk RE the first point, this is because I was using a COBRA structure, which does not support `rxnMiriams`, it can only store `pmids` either in `rxnReferences` or `rxnNotes` (see [here](https://github.com/opencobra/cobratoolbox/blob/master/src/base/io/definitions/COBRA_structure_fields.csv)), and at the moment they are stored in `rxnNotes` which get transfered to the same field by `ravenCobraW

[2018-04-12 13:31] edkerk commented on #77
Irrespective, pubmed IDs don't need to be prefixed with `pmid:`. This is done for ChEBI as it really is part of the identifier ([here, CHEBI:17234](https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:17234)), not because it would otherwise be a number-only. Also compare for instances [ChEBI](https://www.ebi.ac.uk/miriam/main/collections/MIR:00000002) and [KEGG compound](https://www.ebi.ac.uk/mir

[2018-04-13 08:43] BenjaSanchez commented on #77
actually now testing with COBRA not even `rxnReferences` can be used to store things, as after a I/O cycle everything there gets transfered to `rxnNotes`. So pmid's will continue to be stored in the yeast model in `rxnNotes `with the format `pmid:XXX; pmid:YYY`, and I will include in `ravenCobraWrapper `a section for detecting these cases and sending them to `rxnMiriams`

[2018-04-13 08:55] edkerk commented on #77
Perhaps then also start an issue at Cobra, because they do [state](https://github.com/opencobra/cobratoolbox/blob/master/docs/source/notes/COBRAModelFields.md) that `rxnReferences` and `rxnNotes` are separate fields?

[2018-04-19 06:06] tpfau commented on #77
@BenjaSanchez

Could you give me an example for this in the COBRA toolbox?
In general: PMIDs should (imo) be added via MIRIAM annotations. Pubmed is listed on registry.org and is parsed by the COBRA toolbox SBML parser into the `rxnReferences` field, if it is correctly annotated (i.e. using the `isDescribedBy` bioql qualifier).
We try to put into notes things that are either invalid IDs (as mentio

[2018-04-20 12:39] BenjaSanchez commented on #77
@tpfau thanks for that insight! now with only the id the field gets properly stored in `rxnReferences` in a full cycle I/O. I've adapted the corresponding `ravenCobraWrapper` in RAVEN ([`df918f5`](https://github.com/SysBioChalmers/RAVEN/commit/df918f517abd72b8cc1b771d9a976499ff5c8c97)) and the yeast model `.xml` ([`68d5e8a`](https://github.com/SysBioChalmers/yeast-GEM/commit/68d5e8a54944dc57469f0a

[2018-04-20 13:44] edkerk commented on #55
I now also run Matlab 2017b on Windows and I cannot reproduce the error, neither before or after #76.

@danieljcook can you please check whether you still get this error when using the most recent `devel` branch that has incorporated #76 ?

[2018-04-20 13:50] simas232 commented on #55
@edkerk, are you able to successfully run functions `importExcelModel` and `exportToExcelFormat` in 2017b on Windows?

[2018-04-20 14:26] edkerk commented on #55
@simas232 Exactly, works well with both your provided toyModel as well as real models. Just realize that I don't have any additional Matlab Toolboxes installed, perhaps this means that I have some conflicting JAR's missing?

<details><summary>Click to see my javaclasspath</summary>
<p>

[code]
</p>
</details>

[2018-04-23 08:35] simas232 commented on #55
@edkerk, I think that is the case. Regarding the Matlab installations provided by Chalmers Managed Software Centre, 2017b contains about 20 additional toolboxes not found in 2016b, so one of them likely contributes to the conflicting Java classes. The installation of Matlab is entirely automatic, so I could not choose which toolboxes shall be installed. It is not possible to uninstall these toolbo

[2018-04-23 11:28] edkerk commented on #75
This is now pushed to master: #89

[2018-04-23 11:28] #75 closed

[2018-04-23 11:28] edkerk commented on #46
This is now pushed to master: #89

[2018-04-23 11:28] #46 closed

[2018-04-23 11:28] edkerk commented on #41
This is now pushed to master: #89

[2018-04-23 11:28] #41 closed

[2018-04-24 09:13] edkerk commented on #69
@BenjaSanchez
The last remaining task is to amend `findGeneDeletions` to use `removeGenes`. Do you have any suggestions for this? It seems that a significant part of the `findGeneDeletions` function is about avoiding enzyme complexes, which can be left out, and commands like `tempModel=setParam(model,'eq',model.rxns(I),0);` can be replaced with `removeGenes`-functionality instead?

[2018-04-25 08:01] IVANDOMENZAIN commented on #69
@edkerk
You're right, as it uses the field `rxnGeneMat` for getting the genes that should de deleted, based on their associations with reactions, complexes are never considered properly.

The function `removeGenes` should substitute the usage of `setParam` that is fed by indexes gotten from `rxnGeneMat`, the new function will perform the whole task in a better way. However, we need to find the pro

[2018-04-27 15:07] edkerk commented on #69
I've made a first implementation of this in 0fc099f7dc54127391d03f8efb6d91f8e2d09b4b, should be further tested.

[2018-04-29 15:03] feiranl opened #99 "Bug:ravenCobraWrapper doesn't create same amount of metMiriams/rxnMiriams with mets/rxns"
I use ravenCobraWrapper to convert a cobra model to raven format, it create less amount of metMiriams/rxnMiriams compared to mets/rxns. As below, you can see I have 2224 mets, but only have 2220 metMiriams.

model=

  struct with fields:

                   rxns: {3496×1 cell}
                   mets: {2224×1 cell}
                      S: [2224×3496 double]
                     lb: [3496×1 double

[2018-05-01 09:09] edkerk commented on #99
@feiranl thanks for reporting this, could you please upload/send the model that showed this behaviour?

[2018-05-02 18:14] edkerk commented on #69
I'd like to revisit the need for `standardizeGrRules` function:

### Can potential problematic grRules not just be left alone?

[FYI, this function has also been discussed in #73]

Now that `standardizeGrRules` is an integral part of various functions including `importModel`, models are changed when going through their first RAVEN I/O-cycle. While simple `grRules` are fixed through this cycle, pro

[2018-05-02 20:52] simas232 commented on #55
Problem solved! The Excel I/O does not work for users who have `Text Analytics Toolbox` installed. This toolbox uses Apache POI for MS Word docx files parsing and somehow introduces conflicts in Java classes.

The users therefore must remove this toolbox before using RAVEN:

- **Windows** users can remove it via MATLAB uninstaller found in _Control Panel -> Programs and Features_.

- **macOS/Unix*

[2018-05-03 09:50] BenjaSanchez commented on #99
@edkerk @feiranl using yeast-GEM from `devel` + RAVEN in `devel` I actually don't observe this behavior. Could it be an out of date version of the model @feiranl?

[2018-05-03 10:53] feiranl commented on #99
I am not sure, but now it is okay. It can generate equal amount of rxnMiriams/metMiriams with rxns/mets.

[2018-05-03 11:09] #99 closed

[2018-05-03 13:52] BenjaSanchez commented on #69
@edkerk reg `removeGenes`:
* The sub-function `canRxnCarryFlux` will work as long as the grRule is a valid logical statement. That means that there will always be a correct decision of whether the reaction should be blocked or not, for any of the examples that you mention.
* The sub-function that will **not** always work is `removeGeneFromRule`, which requires the rule to be in the format `(A and

[2018-05-03 15:08] edkerk commented on #69
@BenjaSanchez @IVANDOMENZAIN
Thanks for testing this and the clear explanation. Note that your `testIOcycle.m` should be run on the `devel` branch of Sco4, as there has been some manual curation of grRules already. Nonetheless, commenting out line 866 in `importModel` indicates that it is not standardizeGrRules that screws up the grRules.

It indeed turns out that line 837-839 of `importModel` are

[2018-05-03 15:15] edkerk commented on #55
The problem is in `MATLAB\R2017b\java\jarext\tika-app.jar` containing conflicting Java libraries. The Apache POI libraries provided by RAVEN are version 3.8, while the MATLAB provided are of version 3.17.

Between these versions, there have been new dependencies (xmlbeans-2.6.0, commons-collections4-4.1) and some code changes that break backwards compatibility. I've been able to trace this back to

[2018-05-03 16:06] IVANDOMENZAIN commented on #69
You're right, we just write this test for visualizing the changes that were done on the problematic grRules by `importModel`.

Lines 837-839  make sure that every isoenzyme is enclosed into brackets, however it doesn't take care of the problematic cases and these will also be modified prior to the standardization step in line 865. So, this is one of the main reasons of why the final results in the

[2018-05-03 17:30] simas232 commented on #55
Could be. I was able to trace back Apache POI version 3.15 by looking to the sizes of jar files.

It is not necessary to update Apache POI bundled in RAVEN right now, though. Couple of months ago I tried to run Apache POI 3.17 in MATLAB 2016b, but got other types of errors there, so maybe the should update ut only when it is really necessary.

[2018-05-03 17:35] simas232 commented on #55
Maybe I didn't stress it enough, but it is not possible to use Apache POI, bundled with MATLAB thereby ignoring the jar files bundled in RAVEN. I was getting other type of error there.

[2018-05-14 12:49] edkerk commented on #69
All issues are now fixed in #98, will close when pushed to master.

[2018-05-14 16:51] #69 closed

[2018-05-15 14:43] Hao-Chalmers opened #107 "Output list type field as array of string in Yaml"
The JSON/Yaml formats appear to be very useful in GEM curation, exchange and other things, among which one application is for visualization purpose. Now Yaml has been used as input for Metabolic Atlas website development.

However, the current writeYaml function treats the 'list' type fields (e.g. eccodes,subSystems) differently. It outputs the value as string when there is only one element, but o

[2018-05-15 15:17] BenjaSanchez commented on #107
@Hao-Chalmers
1. When writing the function I followed the cobrapy standard, and they actually also have this distinction when it's only 1 field or several: see example file in issue #77, for instance reactions `r_2246` (one ec-code) and `r_2248` (2 ec-codes). So if we do what you suggest we would loose compatibility with them, however eventually we want to allow cobrapy users to contribute to our

[2018-05-15 15:20] edkerk opened #108 "not all KEGG metabolites have their compound id as metMiriam"
When running `getModelFromKEGG()`, not all metabolites have their KEGG compound ID as annotation in the metMiriams field. As example:

[code]

Even though it has a valid compound ID as metabolite ID, only CHEBI is included.

This is not the case for all metabolites:
[code]

[2018-05-15 15:25] edkerk commented on #107
@Hao-Chalmers

As @BenjaSanchez said, the default `writeYaml` output should not be changed.

As alternative, include a parameter in the `writeYaml` function, e.g. `compact` or `parseable`, and set this to `true` if you want your precise format. The default for this parameter should be `false`, so the function continues to function as intended. If this parseable format requires a lot of changes, it

[2018-05-15 15:41] Hao-Chalmers commented on #107
@BenjaSanchez, @edkerk

Here are my comments:

1. The propsed change in this branch keeps the yml file in succinct style without introducing addtional lines, and doesn't go aginst the `compact` principle.

2. This function attemps to follow the JSON/Yaml scheme proposed by cobrapy. But any scheme should be open for adjustments toward better fit of needs, which is contineously changing. Actually co

[2018-05-15 15:53] BenjaSanchez commented on #107
@Hao-Chalmers it would definetively include extra lines, for instance what is now:
[code]
would then be:
[code]

[2018-05-15 15:59] Hao-Chalmers commented on #107
True, it does. But there won't be many though :-)

[2018-05-16 09:06] simas232 commented on #108
Fixed in #109. The issue will be closed as soon as this change is merged to `master` branch.

[2018-05-16 09:33] BenjaSanchez commented on #107
@Hao-Chalmers actually they would be many new lines: the `.yml` file of yeast-GEM saved with your proposed change would be 82,202 lines, compared to 74,394 lines as it is currently stored.
And completely agree with @edkerk, we can have secondary ways of outputting the model but the way to store it in the repo should be the most compact option.

[2018-05-16 09:44] Hao-Chalmers commented on #107
@edkerk A similar [issue](https://github.com/opencobra/cobrapy/issues/706) has been proposed in cobrapy repo for adjustment in implementation. Let's see how it proceeds.

@BenjaSanchez There won't be much differences with whether 82,202 or 74,394 lines, because both could not be managed by human eyes. But there would be no difference for digital storage.

The optional `parsable` output could be a

[2018-05-16 15:36] bapimandal opened #110 "help: getKEGGModelForOrganism gives error that genes.pep cannot be found"
Hello,
I am trying to reconstruct a bacterial model using the function 'getKEGGModelForOrganism' with organism id and protein fasta sequence as input. However, I am receiving the below error:

"The file 'genes.pep' cannot be located at / and should be downloaded from the KEGG FTP"

Kindly help in resolving this error.

**edit:** solution provided in https://github.com/SysBioChalmers/RAVEN/issues/1

[2018-05-16 16:25] bapimandal commented on #110
Hi @simas232 ,

Thank you for your reply.
This time I got this error after specifying the pre-trained HMM:

The file 'genes.pep' cannot be located at prok100_kegg82/ and should be downloaded from the KEGG FTP.

Bapi.

[2018-05-17 07:41] edkerk commented on #110
@bapimandal Can you please indicate _**exactly**_ what command you used, which RAVEN version you have installed (any of the [stabile releases](https://github.com/SysBioChalmers/RAVEN/releases)?) and on what operating system?

[2018-05-17 07:53] bapimandal commented on #110
@edkerk ,

I am using the below command for the RAVEN 2.0.0 version on Windows 10.
model=getKEGGModelForOrganism('roa','roa.fasta','prok100_kegg82');

I am unable to resolve the error.

Bapi.

[2018-05-17 09:16] edkerk commented on #110
With the command you specified, the HMMs should automatically be downloaded and extracted, it should not require the `genes.pep` file, as HMMs are then provided for each KEGG reaction.

Something might have gone wrong when downloading or extracting the files. E.g., if extracting the ZIP file was cancelled half-way, some of the HMMs will be missing. Please delete the `prok_kegg82` folder and ZIP fi

[2018-05-17 10:28] bapimandal commented on #110
@edkerk

You were right about the HMMs downloading issue. However, the error is something else this time:

Error using dispEM (line 50)
Error when querying HMM for K00759:

Error: Failed to open sequence file D:

Error in getKEGGModelForOrganism (line 707)
                dispEM(EM);

Bapi.

[2018-05-17 12:26] simas232 commented on #110
I see that the MATLAB cannot access `roa.fasta` file. Do you have it in the current working directory? Also make sure that the full name of your file is `roa.fasta`, not `roa.fasta.txt`.

[2018-05-17 13:27] edkerk commented on #110
@simas232 FYI, I've included a check for this in df07ba935605d6df5e292783be46d752414e9335. As this is non-critical, this will make it slowly into devel and master.

[2018-05-18 05:53] bapimandal commented on #110
@simas232 @edkerk ,
Thank you for your time and suggestions. I could generate the model.

Bapi.

[2018-05-18 06:16] bapimandal opened #112 "help: what organism ID to use for getMetaCycModelForOrganism"
Hello

I could generate the draft model using the function 'getKEGGModelforOrganism' with organism ID and protein sequence. However, I could not find the organism ID for my organism in the MetaCys to be used in the function 'getMetaCycModelForOrganism'. I would like to refine my model by combining both KEGG and MetaCys model. Kindly help.

Bapi.

[2018-05-18 06:18] Hao-Chalmers commented on #112
The MetaCyc organism id is defined by you (yourself).

On 18 May 2018, at 08:16, bapimandal <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello

I could generate the draft model using the function 'getKEGGModelforOrganism' with organism ID and protein sequence. However, I could not find the organism ID for my organism in the MetaCys to be used in the function 'getMetaCycModel

[2018-05-18 07:07] bapimandal commented on #112
@Hao-Chalmers
Thank you...it worked.

Bapi.

[2018-05-18 08:08] #110 closed

[2018-05-18 08:09] #112 closed

[2018-06-21 15:40] edkerk opened #119 "Excel models for tutorial have incorrect grRules"
### Description of the issue:
Reported by @biowilliam on Gitter.

- The Excel models in the `tutorial` folder have grRules like `(g14 or g16 or g5)` while the genes should be in the style `YAL001W`, matching `expression.txt`.

#### Reproducing this issue:
Run `tutorial2_solutions.m`, line 99. repMets is blank as genes in the model and from `expression.txt` are in different format.

#### System inf

[2018-07-09 19:08] lucaz88 opened #120 "error in getModelFromHomology"
Hi,
I am trying to build a draft model for an organism of interest with the function getModelFromHomology.
The code I am running so far is:

[code]
But I am getting the following error:

I started to look into the script lines to see what could be the issue but without success. Can you help me to figure out a solution?

I am using RAVEN 2.0 and running it on Ubuntu 18.04.

Cheers,
Luca

[2018-07-10 08:14] BenjaSanchez commented on #120
@lucaz88 sounds like some grRule that the function `canRxnCarryFlux` is receiving might be non-compliant, as the line `canIt = eval(geneRule);` is failing. Have you tried as a first step in your pipeline running your `old_model` through `standardizeGrRules.m` to check if all rules are properly defined? The function should detect which rules are non-compliant and suggest you how to change them:

[c

[2018-07-10 10:02] lucaz88 commented on #120
Thanks a lot for the quick reply!!
So I ran the standardizeGrRules and it just throws me a warning for this rule:

But it doesn't seem to be the problem. If I completely remove that rule and run the getModelFromHomology (without semicolon at line 103 of the removeGenes script) I got the following error:

So I looked into old_model.genes and I found this gene called 'AEZ63317'. There are also a bun

[2018-07-10 10:20] BenjaSanchez commented on #120
@lucaz88 no problem with having non-numerical gene IDs, I see the problem now. Your rule comes with extra parenthesis `(AEZ63317)`, when it should be for proper parsing just `AEZ63317`. `removeGenes` requires for proper functioning that rules don't have those unnecessary parenthesis, and `standardizeGrRules` actually can take care of those. So I would then recommend:
1. Either delete grRule #4239

[2018-07-10 11:12] edkerk commented on #120
@BenjaSanchez Looking in the history of `getModelFromHomology` it seems like that flag has been `false` since it's been introduced (0c280e5aa018b474e7354a6087cff82be811c95a).

When `removeGenes` is called in `getModelFromHomology`, it's in a loop with n = number of template models. Changing the `standardizeRules` flag to true here would mean that if non-standard grRules would be encountered, it wo

[2018-07-10 20:32] lucaz88 commented on #120
@BenjaSanchez It worked! getModelFromHomology ran without problem, although the resulting draft model has no rxns or mets.
I saw in an old reply that you gave in gitter to @eileenhannas that gene IDs in the template model and in the related fasta file has to be identical. This means that the seq headers in the fasta have to match the template_model.genes field, right?

[2018-07-11 07:07] edkerk commented on #120
@lucaz88 indeed, it is essential that the fasta seq headers match the `template_model.genes` identifiers. If you pull the latest `devel` [version](https://github.com/SysBioChalmers/RAVEN/tree/devel), `getModelFromHomology` will check whether the gene IDs match (but you already self identified that this was not the case for you).

[2018-07-13 14:44] edkerk opened #121 "feat: support deeploc localization prediction"
As alternative to WoLF-PSORT and CELLO, DeepLoc is a newer algorithm to predict protein localization. This can be run from [here](http://www.cbs.dtu.dk/services/DeepLoc-1.0/index.php). and the output should be parseable by `parseScores`.

This is now implemented in f0ac49addee8d3e399076af5a380712b0a0e4d7d.

[2018-07-16 13:18] edkerk commented on #120
The code from https://github.com/SysBioChalmers/RAVEN/issues/120#issuecomment-403786733 has now been implemented in `devel` PR #124.

[2018-07-16 13:18] #120 closed

[2018-07-16 14:04] edkerk commented on #121
Pushed to `devel` in PR #123, issue will be closed when included in `master`

[2018-07-18 13:28] edkerk opened #125 "bug: addRavenToUserPath nargin check"
### Description of the issue:
- bug in `addRavenToUserPath` when it's called without any input arguments

#### Reproducing this issue:
[code]

#### System information
1. RAVEN 2.0.0

**I hereby confirm that I have:**
- [X] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Installation) to install RAVEN.
- [X] Checked that a similar issue does not [already exist](https://github

[2018-07-18 14:33] EuniceBabs opened #127 "bug: import/export lack support for models without genes"
### Error with importModel function:
I am trying to use the importModel function,

I keep getting the error below:
[code]
What can I do?

#### Reproducing this issue:
[code]

#### System information
1. RAVEN version 2.0
2. Operating system (Windows 10)

**I hereby confirm that I have:**
- [X] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Installation) to install RAVEN.
- [

[2018-07-18 14:59] edkerk commented on #127
As reported on [Gitter](https://gitter.im/SysBioChalmers/RAVEN?at=5b4f409303a5fa639e63fb06), user is trying to load [this model](https://static-content.springer.com/esm/art%3A10.1186%2F1752-0509-3-91/MediaObjects/12918_2009_359_MOESM3_ESM.XML). The problem is that this model does not contain genes. This has been fixed in 13fc20b40dc8d4991d6ddefcb8e6a3d72cd750d5.

@EuniceBabs try the `fix\importMod

[2018-07-19 08:50] edkerk commented on #127
Also `exportModel` contained a bug when parsing models without genes. Fixed in bfea86d86c9bcab53953fcd3367aca301a201e8d

[2018-07-19 11:09] edkerk commented on #127
@phemmy2k2 These models are stored in an older format (SBML L2V4). As the gene association is stored in _two_ locations in those models, I adapted the `importModel` code to prioritize the other location. (this is more of a work-around than a real fix, but as this is an older format, it's probably not worth the effort to fully fix this. SBML L3 models are unaffected by this). Fixed in a390f39c64a69

[2018-07-19 13:01] lucaz88 opened #128 "Issues error with getBlast.m"
Hi,
I have a problem running 'getBlast.m'.
The command line I am running is:

`blastStructure = getBlast('new_model', 'new_model.faa', {'old_model'}, {'old_model.faa'});`

At line 128, when it is importing the results of the blast organism-to-model all the fields of structure array 'A' have only one row/element and I get the following error:

I think that the scripts is failing to correctly import

[2018-07-19 13:06] simas232 commented on #128
@lucaz88, what about the genes in `old_model`? Are they also in the same format like in `new_model.faa`?

[2018-07-19 13:14] lucaz88 commented on #128
@simas232 I am not sure what do you mean for same format, can you make an example?
In any case I just manually edited the first line of the tmp file reported in the previous comment, from

to

and not the script is running smooth!
Is there a way to fix the way that the tmp file is imported in line 128?

[2018-07-19 13:30] edkerk commented on #125
Fixed in PR #126, issue will be closed when fix is pushed to `master`

[2018-07-19 13:39] simas232 commented on #128
@lucaz88, I re-read your first point and got an answer. Just wanted to make sure that the genes in `old_model` and `old_model.faa` are identical.

It seems MATLAB is unable to parse BLASTP results appropriately by failing to split the lines into the columns. I suppose this could be fixed by temporarily appending the numeric genes with the letters and then removing it as soon as `blastStructure` is

[2018-07-19 14:12] phemmy2k2 commented on #127
Thank you @edkerk I used the importModel without parameters and it worked.

[2018-07-19 15:48] lucaz88 commented on #128
Cool! Thanks and looking forward for news!

[2018-07-20 15:24] simas232 commented on #128
@lucaz88, the bug is fixed in 63ec5a7ac6aea38b7e5166d56c6ce911d80230d7, part of fix/getBlast branch.

[2018-07-23 13:01] lucaz88 commented on #128
Many thanks! However now I am getting this new error while running the  `getModelFromHomology` function:

[2018-07-26 16:12] phemmy2k2 commented on #50
I combined metacyc and kegg models, then I discovered I can not apply the canProduce and gapReport function on the combined model. The following is the output error.

Matrix index is out of range for deletion.

Error in removeReactions (line 68)
            reducedModel.grRules(indexesToDelete,:)=[];

Error in simplifyModel (line 148)
            reducedModel=removeReactions(reducedModel,rxnsToDel

[2018-07-26 16:17] simas232 commented on #50
@phemmy2k2, could you please open a new issue for this problem? This problem does not seem to be directly related to `getModelFromMetaCyc`.

[2018-07-27 10:07] phemmy2k2 opened #132 "cnaProduce and gapReport fail on combineMetaCycKEGGModels"
I combined metacyc and kegg models, then I discovered I can not apply the canProduce and gapReport function on the combined model. The following is the output error.

#### Reproducing this issue:
[code]
#### System information
* Please report:
1. RAVEN version 2.0
2. Windows Operating system
**I hereby confirm that I have:**
- [X] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/w

[2018-07-27 13:45] edkerk commented on #128
Pushed to `devel`, issue will be closed when pushed to `master`.

[2018-07-27 13:47] lucaz88 commented on #128
ops, sorry!

[2018-07-27 13:58] edkerk commented on #132
Something seems wrong with `CombinedDraftModel.grRules`, having less entries than the number of reactions? I cannot replicate this with my own code, can you send the CombinedDraftModel? Also, how did you construct `model_MetaCyc` and `balancedModel` (do they have the same length of grRules as the number of rxns?).

[2018-07-30 14:31] phemmy2k2 commented on #132
@edkerk, How do you want to receive the combinedDraftModel? I can also send the complete code to understand how I construct model_MetaCyc and balancedModel.

[2018-07-30 16:53] phemmy2k2 commented on #132
Here is a detailed code.

% Get model from MetaCyc
model_MetaCyc = getMetaCycModelForOrganism('ano2cyc','AgamP3_protein.faa',true,false,false)

% Draft GEM reconstructed from homology with HMMs traind from KEGG
model_KEGG=getKEGGModelForOrganism('aga','AgamP3_protein.faa','euk100_kegg82','output',false,false,false,10^-15);

% Remove bad reactions from model_KEGG but IGNORE H+ to output a newModel

[2018-08-02 10:07] edkerk commented on #132
@phemmy2k2 thanks for the script, I'll try to replicate and get back to you, will take some days.

[2018-08-13 14:25] phemmy2k2 commented on #132
@edkerk I am checking on you to know if you have replicated the problem.

[2018-08-15 10:38] edkerk commented on #132
@phemmy2k2 Summer holidays delayed my response, but I'm currently looking into this!

[2018-08-15 13:30] edkerk commented on #132
As a quick-fix, run `CombinedDraftModel=rmfield(CombinedDraftModel,'equations');` right after you ran `combineMetaCycKEGGModels`. The 'equations' field is problematic, and you'll probably won't need this field, you can just remove it.
@Hao-Chalmers: is the 'equations' field necessary?

[2018-08-15 13:36] Hao-Chalmers commented on #132
@edkerk In RAVEN structure, 'equations' field is optional. I think it is fine to have it, and user is free to remove it. The question is whether this field caused this bug?

[2018-08-15 13:46] edkerk commented on #132
@Hao-Chalmers It caused this bug, removing it solves the problem. The issue is that `addExchangeRxns` doesn't deal with 'equations' fields (it should add empty cells), but then the question might become how many functions we should adapt for compatibility with the 'equations' field if that field is not used anywhere else.

[2018-08-15 13:51] Hao-Chalmers commented on #132
The right way is to modify `addExchangeRxns` by adding additional checks to 'equation' field. And we should start a branch to systematically resolve functions with this similar issue.

[2018-08-19 18:04] phemmy2k2 commented on #132
Thank you @edkerk  On removing the equations field the canProduce() completed successfully, however there are still some errors using the fillgaps() on the combined model.

Matrix index is out of range for deletion.

Error in removeMets (line 101)
        reducedModel.metCharges(indexesToDelete)=[];

Error in simplifyModel (line 154)
            reducedModel=removeMets(reducedModel,notInUse);

Err

[2018-08-21 18:47] edkerk commented on #132
Thanks @phemmy2k2 for reporting this bug in mergeModels, this is now fixed in commit ecfa74b9b3ead9ff17aade4edf727487bceb0a69. I will close this issue, feel free to open a new one if you run into any other bugs or issues!

[2018-08-21 18:47] #132 closed

[2018-08-22 14:54] #119 closed

[2018-08-22 14:58] #128 closed

[2018-08-22 14:58] #127 closed

[2018-08-22 14:59] #125 closed

[2018-08-22 14:59] #121 closed

[2018-08-22 14:59] #108 closed

[2018-08-23 14:11] phemmy2k2 opened #146 "bug: fillGaps errors when using KEGG as template model"
### Description of the issue:
KEGG and MetaCyc models were successfully merged using combineMetaCycKEGGModels().
Thereafter I try to fill gaps using the full KEGG model but received the following error.

[code]
#### Reproducing this issue:
[code]

#### System information
* Please report:
1. RAVEN version (stabile [release](https://github.com/SysBioChalmers/RAVEN/releases), `devel` branch?)
2. Oper

[2018-08-31 16:06] phemmy2k2 commented on #146
Thank you @edkerk I have it running with version 2.0.1. However, I discovered that getKEGGModelForOrganism() is throwing error in the latest version. Below is the code and the error, you can try to replicate it.

Error using exist
The first input to exist must be a string scalar or character vector.

Error in getKEGGModelForOrganism (line 221)
    if ~(exist(fastaFile,'file')==2)

[2018-09-05 13:39] edkerk commented on #146
Documentation of the functions is amended in version 2.0.2.

[2018-09-05 13:39] #146 closed

[2018-10-09 15:22] feiranl opened #169 "An Mac bug in exportForGit.m"
### Description of the issue:
* The function exportForGit.m cannot find raven cobra version in Mac system
* ls(toolboxPath) in Mac system does not return the hiden file, so the while cycle will end with a toolboxPath:'/'

#### Reproducing this issue:
[code]

#### System information
1. RAVEN version:  `devel` branch
2. Operating system: MacOS 10.13.5

**I hereby confirm that I have:**
- [X] Followe

[2018-10-09 15:29] feiranl commented on #169
dir(toolboxPath) can find the hidden files and fix the problem.

[2018-10-11 04:54] tpfau commented on #55
I have tried to look a bit more into this issue (as its the same with the COBRA toolbox):
It seems as if the tika-app.jar shipped by matlab is broken/incomplete (~30Mb while the version from apache is ~50Mb), and probably lacks some dependencies.
However, I have not found a way (besides replacing the jar) to get a working POI version while the Text-Analysis toolbox was installed.

[2018-10-16 11:18] #169 closed

[2018-10-28 12:07] laurentheirendt commented on #55
Just reporting that this is the same issue for MATLAB R2018b.

[2018-10-29 15:26] HMbio opened #179 "help: importExcelModel fails importing metMiriams"
Hello every one
I tried to install RAVEN 2.0.3 on matlab in order to use it for metabolic genome scale simulations of microbial communities but I faced difficulties doing so and I was not able run matlab codes.
The error in installation RAVEN toolbox is as follow:

when I type checkInstallation in matlab command window

Checking if it is possible to parse a model in Microsoft Excel format... FAILE

[2018-11-01 14:33] edkerk commented on #179
@HMbio Looking at line 853 of `importExcelModel` I don't immediately see how this could fail. A few additional questions:
- What kind of operating system are you running?
- When you run SBMLFromExcel, what file are you using?
- Do the metMiriams in that Excel file have a strange format?

Before you run `SBMLFromExcel` (or directly `importExcelModel`, because that is where the problem seems to be),

[2018-11-01 21:16] zhxiaokang opened #180 "Function "getBlastFromExcel" doesn't agree with "getModelFromHomology""
I don't have the protein sequence of the organism of interest, but I have the cDNA sequence. So I did blastn between my organism with human (the template organism, and I downloaded its cDNA sequence from Biomart), and I generated an Excel file from the output of blastn, formatting the file as stated in the function "getBlastFromExcel" with the E-value, alignment length, identity. The output of "ge

[2018-11-02 07:46] edkerk commented on #180
An attempted fix is provided in the [`fix/getBlastFromExcel`](https://github.com/SysBioChalmers/RAVEN/tree/fix/getBlastFromExcel) branch, could you please try it and report back?

Note that the Excel file should have additional fields with column name `Bitscore` and `PPOS`, as specified in the [`getBlastFromExcel`](https://github.com/SysBioChalmers/RAVEN/blob/fix/getBlastFromExcel/external/getBlas

[2018-11-02 10:47] zhxiaokang commented on #180
Thank you very much for such quick response. But during the test, I got another very basic problem stopping me from continuing.

When using the .xlsx file, which I used yesterday, I got this error:
[code]
I tried saving the file as a .xls file, and tried again, but I got another error:
[code]
Inside the file, I have two spreadsheets, 1st looks like this:
[code]
2nd one looks like this:
[code]
Acco

[2018-11-02 11:53] edkerk commented on #180
That's odd...

I don't understand what is going wrong when loading the XLSX file. What is the output when you run `[type, sheets] = xlsfinfo('yourXLSXfile.xlsx')`, is `type` empty?

Regarding the XLS file, if you change line 53 in `getBlastFromExcelFix` to:
[code]
does this solve it?

[2018-11-02 13:06] zhxiaokang commented on #180
Thank you very much! I now got it.

So if I use the .xlsx file, type will be "Microsoft Macintosh Excel Spreadsheet". So I need to modify this section in `getBlastFromExcelFix` to:
[code]
If I'm using the .xls file, then I need to keep the type as 'Microsoft Excel Spreadsheet', but as you said, change line 53 in `getBlastFromExcelFix` to `[values,dataSheet]=xlsread(blastFile,sheets{i});`

Then it

[2018-11-02 13:54] edkerk commented on #180
Excellent. I've now changed the code, it should soon be in `devel` and then in `master`, after which I'll close this issue.

[2018-11-06 09:32] BenjaSanchez opened #183 "fix: COBRA introduced a conflicting function with RAVEN"
### Description of the issue:
On the latest release of COBRA, the function [`removeGenes.m`](https://github.com/opencobra/cobratoolbox/commit/fd9c037d20f8e91561beeac3fb77b7671ee85fef#diff-f8fbd3f481593189c0ca41893138f015) was introduced, which conflicts with our own `removeGenes.m`.

**I hereby confirm that I have:**
- [x] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Inst

[2018-11-06 09:47] Hao-Chalmers commented on #183
@BenjaSanchez  could you give examples or descriptions to clarify the conflicts between them.

[2018-11-06 10:03] BenjaSanchez commented on #183
@Hao-Chalmers the name is the same, so if I have both toolboxes in my Matlab path and I call let's say RAVEN's `removeGenes.m`, COBRA's `removeGenes.m` might be used instead

[2018-11-06 10:10] edkerk opened #184 "feat: align RAVEN and COBRA model fields"
There are many benefits in having RAVEN functioning as submodule of the [COBRA toolbox](https://github.com/opencobra/cobratoolbox). While RAVEN 2.0 is largely compatible with COBRA through use of the `ravenCobraWrapper` function and using unique function names, a complete alignment of model structure between the two toolboxes would be highly preferred.

To initiate this process, [here](https://doi

[2018-11-06 10:17] simas232 commented on #183
Should we ask COBRA developers to change the function name from their side? This function was introduced in RAVEN earlier than in COBRA, so I think we have a right to ask them so. The similar case was with `mergeModels` one year ago, @Hao-Chalmers asked them for function rename in COBRA and they did that.

[2018-11-06 10:30] Hao-Chalmers commented on #183
Yes, I did that before for another function `mergeModels.m`. And this probably need to be done again.

But it seems this _issue_ should be addressed to **COBRA**, instead of **RAVEN**.

[2018-11-06 13:32] tpfau commented on #184
Hi,
A few things from my point of view:
- `metComps` as a double Vector might be faster but is more prone to model modifications leading to out of sync fields (I would personally prefer a cell array of strings representing the ID of the compartment instead of the position in the comps vector).
- `rxnMiriams` and similar: I'm missing a qualifier field in the struct. Also, is this a struct array or

[2018-11-06 13:36] tpfau commented on #184
Oh and one more thing:
We recently introduced fields for additional Variables/Constraints to prepare for concepts like Enzyme Capacity constraints (as provided by GECKO). Those fields hold information which is separate from Metabolites/Reactions but interacts with those.
While the core structures are now available in the Toolbox, we are waiting for an update in the SBML-FBC package (which should c

[2018-11-06 13:57] tpfau commented on #183
One more reason to get #184 running :)
Sorry for that I'll have a look how I can rename this function.

[2018-11-06 15:21] BenjaSanchez commented on #183
@Hao-Chalmers @simas232 thanks for the feedback, I was not sure where to raise the issue.

@tpfau thanks for the quick fix in https://github.com/opencobra/cobratoolbox/pull/1373

[2018-11-06 15:43] laurentheirendt commented on #183
This is now fixed on the `develop` branch of the COBRA Toolbox. Thanks @BenjaSanchez for reporting and @tpfau for fixing! 👍

[2018-11-06 15:50] Hao-Chalmers commented on #183
@laurentheirendt @tpfau thanks for the swift fixing. I think this issue has been nicely resolved.

[2018-11-06 16:22] #183 closed

[2018-11-07 13:32] edkerk commented on #184
- `metComps` as cell array of strings would work just as well, it would reduce the speed of some function but this is probably negligble, while it is more intuitive and will reduce the risk of mistakes.
- `rxnMiriams` indeed don't have a [qualifier field](http://co.mbine.org/standards/qualifiers), it has now only been used for annotating reactions and metabolites to databases, so that most of thes

[2018-11-07 15:04] BenjaSanchez commented on #184
Regarding `rev`, I would advice to still allow it as an input on RAVEN functions that require it, and only recreate it from `lb`/`ub` in case it is not present, for backwards compatibility.

For instance, in GECKO we first [recreate](https://github.com/SysBioChalmers/GECKO/blob/f427e8720333148cf50f808f17e08a880dcd5c84/geckomat/change_model/preprocessModel.m#L32) `rev` before calling `convertToIrre

[2018-11-07 15:47] edkerk commented on #184
@BenjaSanchez in that case, you also don't use the model-provided `rev` field, you only recreate it for one specific purpose. So if `convertToIrrev` would first recreate `rev` by the same criteria as you use now (from `lb` = 0 etc.) and the rest of `convertToIrrev` is kept as-is, then this function could then still be used largely unchanged for this purpose?

I suppose the question is whether you

[2018-11-07 17:11] BenjaSanchez commented on #184
@edkerk yes, however I don't know if e.g. leaving exchange rxns with `rev=true` is always desired for any user of `convertToIrrev`. In that way, I think it's more sensible to respect their own `rev` field if it exists and it makes sense for them. But this is I think only for the case of `convertToIrrev`, I do not have strong feelings about `rev` in any other way (and I agree that it's redundant wi

[2018-11-08 05:53] tpfau commented on #184
@edkerk wrt to `xyzMiriams`:
If I get this right, what you have is a cell array of structs where each struct has two fields storing the values. Was there a reason to make this a cell array instead of a struct array?
From a COBRA point of view the biggest issue would be, that we would break backward compatability if people used the individual (defined) annotation fields outside of the toolbox.

@Be

[2018-11-08 07:04] simas232 commented on #184
@tpfau, `xyzMiriams` fields are mainly beneficial for semi-automatic model reconstruction from KEGG (and now also MetaCyc). However, such format may be changed if necessary. My quick idea would be to organise such data as `subSystems` for simplicity, but this would need to be thoroughly checked anyway.
These `xyzMiriams` fields can be considered as all the annotation which lies in `annotation` sec

[2018-11-08 07:33] tpfau commented on #184
@simas232 The 'whats important or not' question is one reason why we don't have a annotation struct. Its simply up to the user what she/he thinks is important and we don't take the decision. For anything we don't know, we will write a kind of descriptive field name, but things we do know will get parsed into specific fields (a list which we are happy to extend, but which needs no changes in the co

[2018-11-08 07:46] Gangl2016 opened #185 "help: duplicate InChi strings"
### Description of the issue:
*Try to be as clear as possible, e.g.:
Hi, when I exported the draft model which was reconstructed by merging the models from KEGG and MetaCyc, I got following warnings

Are there any possible ways to fix this? Thanks!

#### Reproducing this issue:
*If applicable, please attach the problematic code
[code]

#### System information
* Please report:
1. RAVEN version: 2.0

[2018-11-08 08:14] edkerk commented on #185
@Gangl2016 Thanks for reporting an issue! Could you please edit your message to give more information, on how this bug can be reproduced, your system information, etc.

[2018-11-08 13:30] tpfau commented on #184
I wasn't aware of that field, as I haven't seen it used yet.  But well, it doesn't hurt too much (its not very big), to have such a field.

Thanks, that was quite some work :)

We actually do check IDs for defined annotation fields. i.e. were miriam has a spec, we try to use valid IDs. Only for fields which we have not explicitly encoded, this step is skipped.

[2018-11-08 13:34] edkerk commented on #184
@simas232 regarding `metComps`, it's not about completely abolishing it, it is about turning it into a cell array of strings, instead of numeric vector. So future `model.metComps` would be the same as what would now be obtained via `model.metComps(model.comps)`.

@tpfau would you then advocate for only using `metComps` as compartment identifier, and abandon storing this as part of the `mets` field

[2018-11-08 13:47] Hao-Chalmers commented on #184
The multiples values could be separated by semicolon, which is used in some fields (e.g. `eccodes`, `rxnReferences`) and seems suit this scenario.

[2018-11-08 13:54] tpfau commented on #184
@edkerk
wrt `removeFieldEntriesForType`, there are a bunch of functions for dynamic model modifications:
`removeFieldEntriesForType` - to remove individual positions
`updateFieldOrderForType` - Which allows to update the order of elements in a field
`extendModelFieldsForType` - Extends all model fields associated with the given type with default values
`getModelFieldsForType` - OBtain all fields t

[2018-11-08 14:28] edkerk opened #188 "doc: update contribution guidelines"
### Description of the issue:
Leveraging on the work done for [`yeast-GEM`](https://github.com/SysBioChalmers/yeast-GEM/pull/175), the contribution guidelines should be updated, to clarify the following:

- [ ] when major, minor and patch versions are defined
- [ ] how to exactly make a new release
- [ ] ...

Question: should guidelines be stored in the repo root, in the `.github` folder or in the

[2018-11-08 14:31] BenjaSanchez commented on #188
note that they can also be stored in `/docs`, but as you already have a folder named `/doc` it's probably not a good idea

[2018-11-21 10:16] Hao-Chalmers opened #193 "style: rename function getINITModel"
### Description of the issue:
* There is a **RAVEN** function _`getINITModel`_ that reconstructs human GEMs based on omics data and/or predefined metabolic tasks. However, it appeares that the function name is inaccurate and misleading, given that the function actually implements the **tINIT** algorithm (described in `MSB 2014;10:721`) while there was a different/relevant algorithm **INIT** (descr

[2018-11-21 10:22] JonathanRob commented on #193
The "t" in "tINIT" refers to the metabolic tasks that the model must achieve. However, this input is optional, where excluding it will simply be the INIT algorithm with no tasks being run. I therefore don't see a reason to change the name, since the task piece is optional. Also, as a minor stylistic point, the "t" from "tINIT" is difficult to distinguish from the "t" in "get".

[2018-11-21 10:39] Hao-Chalmers commented on #193
@danieljcook good idea to cite both papers.

@JonathanRob you clarified that the inclusion of metabolic tasks differs the **INIT** and **tINIT** algorithm, and this function implements the latter.

[2018-11-21 11:20] edkerk commented on #193
So the criticism is that the name `getINITmodel` does not make obvious that it can generate **tINIT** models, but with the same argument `tINIT` does not make obvious that it can also generate non-t **INIT** models?

For backwards compatibility, it's better not to change function names too often (we already changed a lot for RAVEN 2 to ensure compatbility with COBRA).

Wouldn't it be better to jus

[2018-11-21 12:34] Hao-Chalmers commented on #193
@edkerk Renaming `getINITmodel` function should be irrelevant to the compatibility with COBRA, but does requires trading off between the backward compatibility and resolving ambiguity.

[2018-11-21 15:42] Hao-Chalmers commented on #193
A further look shows that there is no function/script/code associated to the paper published in _2012_.

This **tINIT** function was openly introduced in the _2014_ paper for the first time, although was already included in **RAVEN** 1.0 (_2013_). Literally there is no (public) function implementing **INIT** algorithm alone, and thus the _2012_ paper could be removed from `README.md` in my view.

[2018-11-21 15:51] JonathanRob commented on #193
@Hao-Chalmers, the current function implements the **INIT** algorithm **by default**, whereas its **tINIT** functionality is **optional**. Since the 2012 paper describes the actual optimization algorithm used in INIT (and tINIT), I would recommend against removing its citation. I can say from personal experience that the 2012 paper has been more helpful in understanding the code than the 2014 pape

[2018-11-29 15:45] edkerk opened #196 "feat: I/O of SBO terms from SBML file"
### Description of the issue:
- RAVEN is not able to I/O SBO terms that are specified in SBML files.

#### Reproducing this issue:
SBO terms are included in the SBML file as following (similar for metabolites and reactions):
[code]

When loaded in Matlab using `TranslateSBML`, SBO terms are easily accessible at (similar for metabolites and reactions):
[code]
Parsing this in `exportModel` and `impo

[2018-12-06 21:34] feiranl opened #198 "question: ravenCobraWrapper handling of brackets when changing rules to grRules"
### Description of the issue:
*When using `ravenCobraWrapper` to change yeast model from cobra format to raven format, one bracket is missing in model.grRules.

#### Reproducing this issue:
matlab
navigate to yeastGEM repo:
model = loadYeastModel;
modelr = ravenCobraWrapper(model)

**model.rules in cobra format:**
[code]
**modelr.grRules in raven format:**
[code]
Look at the last one grRules, it i

[2018-12-07 07:57] tpfau commented on #198
Hi,
While the strings are different, the rules are the same. The parenthesis in the rules are not necessary, at least not in the cases you list.
RAVEN normalises rules removing unnecessary parenthesis to make rule parsing later on easier.

[2018-12-07 08:48] feiranl commented on #198
Okay, so the rules should be kept without the outer bracket, even though they are isoenzymes and complexes?

[2018-12-07 12:08] edkerk commented on #198
@feiranl Thanks for reporting this! But as explained by @tpfau, this is not a bug but a feature, where RAVEN discards unnecessary brackets, without changing the logic. In nested grRules (e.g. `A and ( B or C) and D`) the brackets are kept.

[2018-12-07 12:08] #198 closed

[2018-12-10 13:35] zhxiaokang commented on #180
Hi, I've updated to the latest version 2.1.0, with "Eduard Kerkhoven, 2018-11-02" stated in the function "getBlastFromExcel". But I found two mistakes in that function:
(1) Line 46: ')' missing
(2) Line 54: should be: `[values,dataSheet]=xlsread(blastFile,i);`

[2018-12-10 13:55] edkerk commented on #180
@zhxiaokang Thanks a lot for reporting this, will be fixed and pushed to `devel` asap.

[2018-12-10 19:22] simas232 commented on #180
@zhxiaokang, the bugfix is merged to `devel` branch. Please try it out and inform us if the errors are gone.

[2018-12-11 10:07] Hao-Chalmers commented on #196
COBRA deals with SBO terms in a different way by using `metSBOTerms` and `rxnSBOTerms` fields (according to [yeast-GEM](https://github.com/SysBioChalmers/yeast-GEM) v8.3.3). Since there is an ongoing issue toward aligning RAVEN and COBRA model fields (#184), maybe good to have a discussion there about weather storing in `xyzMiriams` or separate fields before the implementation.

[2018-12-12 15:01] Hao-Chalmers commented on #193
It seems a consensus of citing both references has been reached, and was implemented in commit
[06ead4f](https://github.com/SysBioChalmers/RAVEN/pull/170/commits/06ead4fcba958dde636ec1459a8f93bc24033dc6).

[2018-12-12 15:04] edkerk commented on #193
Now in `devel`, will close this issue when it's implemented in master.

[2018-12-12 15:08] edkerk commented on #196
@Hao-Chalmers For merging the model fields, it was proposed to use the COBRA version, taking advantage of their new `getModelFieldsForType` and similar functionality. So solving _this_ issue would indeed not be relevant for future versions of RAVEN that directly work on COBRA models, but it would still be good to fix this for the meanwhile for the classical RAVEN model format. It's not so hard to

[2018-12-14 10:59] zhxiaokang commented on #180
Thank you, the updated function "getBlastFromExcel.m" (with "Eduard Kerkhoven, 2018-12-10" marked) works well.

[2018-12-15 13:09] Hao-Chalmers commented on #193
With the involvement from relevant parties, this issue has been well discussed and resolved as:

- Both references (`PLoS Comput Biol. 2012;8:e1002518` and `MSB 2014;10:721`) are cited
- The function name `getINITModel` is kept for backward compatibility, while the ambiguity still remains and expect to be mitigated from above discussion
- The implementation has been made by PR #170, and the issue

[2018-12-15 13:09] #193 closed

[2019-01-21 23:47] lavik17 opened #206 "Tutorial Exercise 5 missing"
I have downloaded Raven Toolbox 2 and it seems that the file of Excercise 5 in the tutorial is missing from the tutorial folder.

[2019-01-22 07:19] Hao-Chalmers commented on #206
@lavik17 check out the last sentence of `RAVEN mini tutorial.docx` file, it says "See the `tutorial2018.m` file for details".

[2019-01-25 15:47] ksye opened #208 "help: solveLP not working with Mosek"
While running the tutorial files I get the following error message:
[code]

I have performed the installation verification and nothing seems to be wrong.

[code]
Could anyone help me understand what's wrong? Thank you!

[edited by @edkerk for formatting]

[2019-01-25 16:35] edkerk commented on #208
You get an error message from `printFluxes` on line 90, while in the distributed [`tutorial0.m`](https://github.com/SysBioChalmers/RAVEN/blob/master/tutorial/tutorial0.m) this function is on line 89. Could you please ensure that you haven't made any changes to `tutorial0.m`?

[2019-01-25 17:36] ksye commented on #208
Hi, thanks for the quick answer! I re-downloaded the whole package and substituted the old tutorial0.m file for the fresh download one and the error message was as you said
[code]

[2019-01-27 12:00] edkerk commented on #208
@ksye can you please run `tutorial0.m` until line 88 and then run the commands below and post the results?

[code]

Also, what operating system and Matlab version are you using?

[2019-01-27 12:02] edkerk commented on #206
See @Hao-Chalmers reply, no problem exists, the file is present.

[2019-01-27 12:02] #206 closed

[2019-01-31 14:32] Hao-Chalmers commented on #184
I'd like to recommend an optional filed `version` to this upcoming unified model structure. It is new, but should be super helpful for storing the model version (e.g. `8.3.3`) to the ones that have been deposited and curated as public repositories (e.g. [yeast-GEM](https://github.com/SysBioChalmers/yeast-GEM), [Sco4](https://github.com/SysBioChalmers/Streptomyces_coelicolor-GEM)).

[2019-01-31 20:35] tpfau commented on #184
Thats perfectly fine with me.
One question though: If no version is provided, whats the default we put there? Or do we just not add it.
And: How should that version be exported to e.g. SBML.
The latter is particularily important, as we cannot necessarily guarantee that IO is not lossless (e.g. if the SBML uses packages we don't support). Currently if there is a model "is" association in SBML, the

[2019-01-31 21:42] Hao-Chalmers commented on #184
My idea is to make it optional, so just leave it out if no version is provided in the model.

No clue about this, because SBML spec is out of our hands. In the beginning, we probably just implement this into Matlab model structure when dealing with repo-type GEMs, and push this forward into SBML spec if it turns out a good idea.

[2019-02-02 13:03] edkerk commented on #208
Ok, so the problem is with `solveLP`, it doesn't return a solution.
Let's first test whether the earlier commmands (lines 56, 70 and 73) worked.

Run the tutorial until line 74 and then give the output from the following commands:

`[length(model.rxns) length(model.mets)]` (output should be `1632 1395`)

`model.ub(getIndexes(model,{'glcIN' 'etohIN' 'co2OUT'},'rxns'))` (output should be `1 0 1000`)

[2019-02-05 16:39] ksye commented on #208
The output was the following

Which is different from the expected except for the upper bounds from what I understand.

[2019-02-05 17:25] ksye commented on #208
The output was:

[2019-02-06 08:13] Hao-Chalmers opened #211 "feat: re-format the MetaCyc dump file allowing for convenient balancing info extraction"
### Description of the issue:
The _de novo_ reconstruction modules in RAVEN utilize the database dump files for automated draft model generation. In contrast to **KEGG**, **MetaCyc** provides manually curated and chemically balanced reactions, which amount to over 90% collected reactions in the database. Among the unbalanced reactions in **MetaCyc**, some can be easily recognized by the slot of `C

[2019-02-06 09:19] Hao-Chalmers commented on #211
A positive feedback has been obtained from reaching out MetaCyc curators, as below:

[2019-02-06 13:41] simas232 commented on #211
@Hao-Chalmers, I think such issue may be fixed by ourselves as well, since it doesn't take much time to quickly identify elementally unbalanced reactions. This can be done for KEGG as well.

[2019-02-08 10:12] edkerk commented on #208
Hmm. I wonder if there is a problem with the solver? Do you get the same results with the following lines (make sure to run this from the `tutorial` subfolder, check with `pwd()`):

[code]

Have you tried installing an alternative solver, e.g. Mosek? Then change the solver using `setRavenSolver`. In case you also have [cobratoolbox](https://github.com/opencobra/cobratoolbox) installed, you can als

[2019-02-14 16:21] ksye commented on #208
I've been using Mosek initially, but have now installed Gurobi and tested the tutorial code and it finally worked! Seems like there was some problem with the Mosek installation probably.

Thank you very much for your time and help!

[2019-02-15 07:38] #208 closed

[2019-02-18 12:47] zhxiaokang commented on #36
Hi, we got similar error while using the function getKEGGModelForOrganism:
[code]
We followed the answer from @edkerk but still couldn't figure it out. But we don't understand: we only created an empty folder called "euk90_kegg87", then we set the function running, so we're expecting the function to create the folder "fasta" and also the inside file "genes.pep" by itself. Is that understanding cor

[2019-02-18 13:25] edkerk commented on #36
@zhxiaokang
Can you please provide the exact commands that you run, all output that is generated, and the RAVEN version you're using?

You are not supposed to create an empty folder called "euk90_kegg87", `getKEGGModelForOrganism` will generate this folder by downloading pre-trainedHMMs from our server.

If it does not find pre-trained HMMs, the function will try to train HMMs. For this is needs t

[2019-02-18 14:08] zhxiaokang commented on #36
I'm using the version 2.1.0, but using the master branch. I just tried switching to the branch devel, and retried what I did. But got new errors. So currently, the command is:
`zf = getKEGGModelForOrganism("dre", "trinity_list3amino_blastbased.fasta","euk100_kegg87", "out", true, true, true, false)`
But I got this error:
[code]

If I create this folder "euk100_kegg87" before I ran the command, and

[2019-02-18 15:12] edkerk commented on #36
In MATLAB one uses `´` to indicate strings, not `"`. So please change this when calling `getKEGGModelForOrganism` and any other function in RAVEN.

Again, do *NOT* manually create `euk100_kegg87` folder.

Please *DO* try the `devel` branch for this function, as it has been modified to correct bugs present in the `master` branch.

Finally, what version of Matlab are you using?

[2019-02-18 20:21] zhxiaokang commented on #36
Thank you! Never thought of the issue of `"`... Problem solved now. It's Matlab R2018a on Mac.

[2019-02-18 22:48] #36 closed

[2019-04-02 12:49] jonovik commented on #55
In recent Matlab, here's how to uninstall the Text Analytics toolbox:

Matlab > HOME toolbar > ENVIRONMENT section > Add-Ons > Manage Add-Ons > search for "text analytics" > button with vertical triple-dot > Uninstall.

After, this, the following works on my R2018a:

[code]

[2019-04-24 18:25] kabilan2818 opened #219 "help: how to perform robust analysis in raven."
[copied by @edkerk from [comment](https://github.com/SysBioChalmers/RAVEN/issues/219#issuecomment-487356432) below:]

in cobra toolbox we can perform robustness analysis
doubleRobustnessAnalysis(model, controlRxn1, controlRxn2, nPoints, plotResFlag, objRxn, objType)

is there any way to perform similar kind in raven toolbox.
and one of my interested metabolite is essential metabolite for biomass.

[2019-04-25 10:32] edkerk commented on #219
@kabilan2818 could you please edit your post and explain what you are exactly looking for?

[2019-04-28 08:14] kabilan2818 commented on #219
in cobra toolbox we can perform robustness analysis
doubleRobustnessAnalysis(model, controlRxn1, controlRxn2, nPoints, plotResFlag, objRxn, objType)

is there any way to perform similar kind in raven toolbox.
and one of my interested metabolite is essential metabolite for biomass. is there any possible way to perform gene deletion analysis as if i give obj function as biomass, all the flux for the

[2019-04-28 10:55] edkerk commented on #219
@kabilan2818 RAVEN doesn't have the `doubleRobustnessAnalysis` functionality, because COBRA already has it! You can first run `ravenCobraWrapper` on your model to ensure it is in the COBRA format before running this function.

Regarding forced dual objective function, one approach would be to describe a pseudoreaction with both biomass and interesting metabolite as substrates, or enforce productio

[2019-04-28 11:27] simas232 commented on #219
@kabilan2818, take a look to `FSEOF` function, this may help you to identify gene deletion targets.

[2019-04-28 11:34] Hao-Chalmers commented on #219
@kabilan2818 the `FSEOF` does help, but in identifying overexpression targets @simas232.

[2019-05-03 04:34] kabilan2818 commented on #219
Thank you all with the help of ravenCobraWrapper i could perform after converting raven model to cobra.
what is FSEOF function.
And how to convert .xml file of raven version to .xlxs format.

Thank you in advance

[2019-05-03 05:20] Hao-Chalmers commented on #219
In RAVEN, you may import the model with function `importModel` and then convert it to .xlxs format with  `exportToExcelFormat`.

[2019-05-06 07:01] Hao-Chalmers commented on #211
The MetaCyc version **23.0** was just released with the inclusion of detail reaction balancing information. The MetaCyc-based reconstruction module in `RAVEN` will thus be updated and adjusted accordingly.

[2019-05-07 14:09] kabilan2818 commented on #219
while using FSEOF function in raven toolbox for predicting over expression targets, the results predicts  slope, direction (0,1,-1) and so on. what does it means for each direction and slope.

[2019-05-07 14:39] kabilan2818 commented on #219
Slope	rowID	Enzyme ID	Enzyme Name	Subsystems	Direction	Gr Rule
0.83994	6	ASADi	aspartate-semialdehyde dehydrogenase, irreversible	Alanine and Aspartate Metabolism	0	PAS_chr3_0471
0.83994	8	ASPKi	aspartate kinase, irreversible	Alanine and Aspartate Metabolism	0	PAS_chr4_0150
2.2631	10	ASPTAm	aspartate transaminase	Alanine and Aspartate Metabolism	-1	PAS_chr1-1_0200
1.8342	136	FUM	fumarase	Citric Ac

[2019-05-07 14:39] #219 closed

[2019-05-08 04:40] kabilan2818 opened #220 "help: meaning of slope and direction in output FSEOF function"
simulation with FSEOF function predicts results which denotes slope and direction(0,1,-1).
1)what does it means. Is increase in slope value represent more favorable for overexpression. any slope limit is there.

2)the direction represents (0,1,-1 ) what these three types of direction means
[fseof.txt](https://github.com/SysBioChalmers/RAVEN/files/3155535/fseof.txt)

[2019-05-08 07:25] Hao-Chalmers commented on #220
@kabilan2818 the `FSEOF` function is an implementation of the method introduced in this [paper](https://aem.asm.org/content/76/10/3097), which developed an approach for identifying over-expression targets through scanning model fluxes according to the given target metabolite production (i.e. `targetRxn`).

The `Slope` value represents the ratio of flux change of the selected reaction to that of th

[2019-05-08 09:44] kabilan2818 commented on #220
thank you so much @Hao-Chalmers . as u said The Slope value represents the ratio of flux change of the selected reaction to that of the target reaction. it means that for example if the targeted metabolite production is pyruvate and the objective function is biomass formation, the change in flux of obj function of biomass without considering pyruvate and considering pyruvate. is it correct.

[2019-05-08 14:51] kabilan2818 commented on #220
thank you @Hao-Chalmers. Is that any coding for applying the flux in the visualization map of a single simulation. drawMap apply for comparing two different simulation but i need for single simulation

[2019-05-08 15:00] simas232 commented on #220
@kabilan, you can still use `drawMap` for a single simulation. Just leave `conditionB` parameter blank, see `drawMap.html` for more details.

[2019-05-08 15:03] kabilan2818 commented on #220
thankyou @Hao-Chalmers

[2019-05-12 06:52] kabilan2818 opened #221 "Is it possible to draw metabolic map with the help of RAVEN? any coding is available for that."
### Description of the issue:
*Try to be as clear as possible, e.g.:
- Is there a functionality missing?
- Did an existing function fail?
- What is the exact error message, and other output that you got?
- What have you tried yourself to fix it?

#### Reproducing this issue:
*If applicable, please attach the problematic code. PLEASE DELETE THIS LINE.*
[code]

#### System information
* Please repor

[2019-05-12 12:05] edkerk commented on #221
@kabilan2818 please format your posts using the template. Also, you might find it helpful to ask such questions in the Gitter chatroom: https://gitter.im/SysBioChalmers/RAVEN

[2019-05-14 13:19] kabilan2818 commented on #220
@Hao-Chalmers, on using FSEOF function ,it predicts the over-expression targets through scanning model fluxes according to the given target metabolite production. my question is
1)How to analyse each predicted gene targets.
2)is there any coding for predicting the flux change for biomass and target rxn.

[2019-05-15 07:49] Hao-Chalmers commented on #220
These candidate genes can be subjected for experimental verification, preferably after literature checking.

So far, there is no such code in FSEOF function.

[2019-05-15 08:13] simas232 commented on #221
@kabilan2818, the RAVEN toolbox does not have any functions to draw the pathways. Instead, you can create a pathway layout on your own using e.g. CellDesigner and then open the XML file using the function `constructPathwayFromCelldesigner`. You can also find several pre-built metabolic pathways in [CellDesigner website](http://celldesigner.org/models.html#).

Since this question is solved, I am cl

[2019-05-15 08:13] #221 closed

[2019-07-19 12:03] edkerk opened #228 "feat: getModelFromHomology and associated functions with cobra compatibility"
As first step towards RAVEN as COBRA submodule ([project](https://github.com/SysBioChalmers/RAVEN/projects/1)), we'll start with refactoring `getModelFromHomology` and associated functions to work with COBRA format model, and use COBRA functions where possible.

- [ ] `getModelFromHomology` can take COBRA format model
- [ ] replace RAVEN functions called by `getModelFromHomology` with COBRA versio

[2019-08-15 14:40] edkerk opened #233 "bug: conflict in duplicate function name: getVersion"
### Description of the issue:
MATLAB 2018b (presumably also in later versions, possibly also in earlier versions) comes with matlabxl toolbox that has a function with the name `getVersion`. This is conflicting with `getVersion` as distributed by RAVEN in the `io` subfolder. Easies solution would be to rename the RAVEN function.

#### Reproducing this issue:
[code]

#### System information
1. RAVEN

[2019-08-15 14:45] simas232 commented on #233
Maybe `getToolboxVersion`?

[2019-08-16 08:39] JonathanRob commented on #196
This feature is currently of interest to me, so I implemented the changes into `exportModel` and `importModel` (now on `fix/SBO_SBML_IO` branch).

Regarding changes to `importModel`, I originally planned to parse SBO terms from the `.sboTerm` fields of the SBML file (for metabolites, reactions, genes, and compartments), and add them to the corresponding miriam fields in the model structure. Howeve

[2019-08-16 10:13] simas232 commented on #196
@JonathanRob, feel three to change the default SBO terms in `exportModel` to the most relevant ones. When I implemented `OutputSBML` into `exportModel` two years ago, I think I used SBO terms which were considered by COBRA developers during that time.

[2019-08-16 10:38] edkerk commented on #196
Perhaps check if particular SBO terms are part of a test in [memote](https://memote.readthedocs.io/en/latest/). If we'd like to use different SBO terms, we should then also advocate this with memote people (and COBRA?).

Regarding the I/O function you introduced, I'll check it out. I think it's also important that it can deal with non-RAVEN models, so where do COBRA- and cobrapy-exported models st

[2019-08-16 10:41] JonathanRob commented on #196
@edkerk Ah, I should have mentioned, memote uses `SBO:0000243` for genes, which is what I am suggesting to change it to.

But good point regarding functionality with COBRA-exported models, I will probably need to add a few things for that.

[2019-08-16 10:42] edkerk commented on #196
@JonathanRob In that case, definitely use `SBO:0000243` for genes!

[2019-08-16 10:43] edkerk commented on #233
Change to `getToolboxVersion` is a good suggestion. To my knowledge, this function is only called by `exportForGit`, so should be easily fixed.

[2019-08-16 10:49] simas232 commented on #196
@JonathanRob, regarding SBO terms parsing in `importModel`, we may add the check for uniqueness of SBO terms for each entity type separately. For instance, if there are at least two unique SBO terms between all metabolites, we may consider importing all SBO terms into `metMiriams` field. However, if the same SBO terms are used for all entities of the same type (e.g. genes), we may neglect them, si

[2019-08-16 10:59] edkerk opened #234 "feat: checkInstallation prints correct RAVEN version"
### Description of the issue:
When running `checkInstallation`, the first line of output details the RAVEN version as
[code]
The version number is hard-coded in `checkInstallation`. Instead, it would be good to read the current version from `version.txt` which is in the root of the repository in the `master` branch.

`version.txt` does not exist in the development branches (as the code will be mod

[2019-08-16 11:11] edkerk commented on #196
`ravenCobraWrapper` should also be updated to parse between `geneSBOterms` and `geneMiriams`. For `rxns` and `mets` it should already be working.

[2019-08-16 12:22] JonathanRob commented on #196
@simas232 I think a check for uniqueness of SBO terms when importing could be a good option, since the user probably doesn't really need the terms if they're identical for every entry of a particular entity.

As for the `exportModel` aspect, this check is essentially already implemented; i.e., the list of all SBO terms is first populated with the default values, and they are overwritten if an SBO

[2019-08-16 12:57] simas232 commented on #196
Nice! Okay, then we should try to implement these changes to `importModel` and `exportModel` accordingly and finally solve this issue.

[2019-08-17 09:32] JonathanRob commented on #196
- `exportModel` now only adds SBO terms to the SBML `.sboTerm` fields, instead of duplicating the information in the `.annotation` fields. I have also updated the default gene SBO term to `SBO:0000243`, which is what memote uses.
- `importModel` now reads SBO terms from the SBML `.sboTerm` fields, which should be compatible with both RAVEN- and COBRA-generated SBML files.
- `ravenCobraWrapper` now

[2019-09-02 08:20] edkerk opened #245 "chore: abandon MOSEK support"
### Description of the issue:
MOSEK is problematic:
- There have been issues with MOSEK before (e.g. #208).
- The recent fix for `fillGaps` conflicts with MOSEK ([see Gitter](https://gitter.im/SysBioChalmers/RAVEN?at=5d69df8f0d4b1f5d888b0bcf)).
- Current support is upto version 7 (while MOSEK version 9 has been released).
- Keeping MOSEK working is extra effort.

Meanwhile;
- There are excellent a

[2019-09-05 19:19] samseaver opened #247 "Master list of RAVEN biochemistry identifiers"
I can see that RAVEN uses a numbering system for the identification of metabolites added to models such as in `core/addMets.m`, but I can also see that in models such as iAL1006 there is an unique identification scheme, for example, the use of `AKG` to represent 2-oxoglutarate.

I was searching for a master list of these metabolites, their identifiers, and possibly their mappings to other external

[2019-09-07 20:05] edkerk commented on #247
RAVEN does not have its own system of identifiers, it uses the identifiers that are provided by the model, or which are provided by the user.

If a new metabolite is added by `addMets`, and the user does not provide metabolite identifiers in `metsToAdd.mets`, the by default it will use a prefix, underscore and number (e.g. `m_0001`), where the numbering is sequential (second metabolite added: `m_0

[2019-09-19 15:36] samseaver commented on #247
This took me a little while to get my head around, since there are a number of published models that share the same biochemical identifiers as the iAL1006 but I now realize that these identifiers came from the original models that were used to generate iAL1006.

[2019-09-19 15:36] #247 closed

[2019-10-02 13:34] #220 closed

[2019-10-02 14:28] edkerk commented on #211
@Hao-Chalmers I assume that we can then close this issue?

[2019-10-02 14:30] Hao-Chalmers commented on #211
@edkerk keep it open, it's not done.

[2019-10-02 14:32] edkerk commented on #211
Sorry, didn't realize that #224 being closed means that it was not merged.

[2019-10-02 14:50] simas232 opened #251 "chore: update BLAST+ and DIAMOND binaries"
### Description of the issue:
The binary executable files for BLAST+ and DIAMOND should be updated to their latest versions

#### System information
1. RAVEN version: all
2. Operating system: all

**I hereby confirm that I have:**
- [X] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Installation) to install RAVEN.
- [X] Checked that a similar issue does not [already exist](

[2019-10-02 14:59] simas232 opened #252 "feat: enable the external binaries functionality check in Windows"
### Description of the issue:
When running `checkInstallation`, the functionality check for external binaries is performed in macOS and Unix systems, but not in Windows. Such functionality check should be enabled for all the systems with no exceptions.

#### Reproducing this issue:
[code]

#### System information
1. RAVEN version: all
2. Operating system: Windows

**I hereby confirm that I have:**

[2019-10-15 13:39] edkerk opened #259 "bug: error combineMetaCycKEGGModels"
### Description of the issue:
When running the following line as part of `tutorial2018.m`:

`ScoCombinedDraftModel=combineMetaCycKEGGModels(ScoMetaCycDraftModel, ScoKEGGDraftModel)`

the following error message is encountered:

[code]

#### System information
1. RAVEN version: `devel`
2. Operating system: Windows 10

**I hereby confirm that I have:**
- [x] Followed the [guidelines](https://github.

[2019-10-25 12:55] edkerk opened #263 "feat: zenodo storage"
### Description of the issue:
For long term storage, should stabile releases be automatically submitted to [Zenodo](https://zenodo.org/)?

[2019-11-09 20:23] #259 closed

[2019-11-09 20:24] #233 closed

[2019-11-09 20:24] #196 closed

[2019-11-09 20:24] #251 closed

[2019-11-09 20:25] #252 closed

[2019-11-09 20:25] #234 closed

[2019-11-10 12:28] simas232 commented on #263
I agree that we should implement this. Just like in [yeast-GEM](https://github.com/SysBioChalmers/yeast-GEM), the users would be able to quickly cite the RAVEN version they use in their work. Does Zenodo implementation require the first time setup only or would we need to manually push changes for every upcoming RAVEN release?

[2019-11-10 12:35] simas232 commented on #188
I suggest to put the contribution guidelines in `.github` folder. In RAVEN Wiki we can add the reference to that document, no need to add it there as well.

[2020-01-29 10:08] wenjuanmo opened #269 "Help: How to the .XML file generated by CellDesigner into a .mat file?"
For the RAVEN to draw pathway maps in Matlab, the .mat pathway file is needed. However, the CellDesiger software only export XML files, how to transform the XML file into mat file？

[2020-01-29 10:48] Hao-Chalmers commented on #269
Not sure about the format of XML files exported from CellDesigner.

If the XML files are models compatible with SBML spec (level2 or level3), one can use RAVEN function `importModel` to import into Matlab.

[2020-01-29 11:01] simas232 commented on #269
@wenjuanmo, have a look into `constructPathwayFromCelldesigner` function. This should help you to convert CellDesigner XML file to mat format.

[2020-02-03 04:55] wenjuanmo commented on #269
Thanks a lot for these helpful replies.

[2020-02-03 07:40] #269 closed

[2020-02-12 14:31] simas232 commented on #263
@edkerk, I think we should already implement Zenodo for the upcoming RAVEN release. Could you please flip the switch for RAVEN repository in Zenodo?

[2020-02-12 14:48] edkerk commented on #263
I've flipped the switch on Zenodo, next release should be captured by them. Once released and available on Zenodo, a DOI will be associated to RAVEN on Zenodo, and then we can create a badge to add to the readme.

[2020-04-09 07:39] feiranl opened #280 "feat: add a delta G field for reactions/metabolites"
### Description of the issue:
* It would be great if delta G field can be added for each reaction/metabolite
* Metacyc offers this information  at pH 7.3 and ionic strength 0.25.

**I hereby confirm that I have:**
- [x] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Installation) to install RAVEN.
- [x] Checked that a similar issue does not [already exist](https://github.co

[2020-04-09 07:43] Hao-Chalmers commented on #280
@feiranl thanks for posting the issue.

This could be a useful feature for GEMs. It can be added as a reaction-associated feature, according to the MetaCyc scheme.

[2020-04-09 09:45] simas232 commented on #280
Nice idea! Should we consider using delta G values to determine reaction reversibility? At least, it would be nice to have such function in RAVEN beyond MetaCyc reconstruction module

[2020-04-09 09:48] Hao-Chalmers commented on #280
@simas232 if SEED applies this value for determining reversibility?

[2020-04-09 10:15] simas232 commented on #280
Not sure about SEED, but I recall that GEMs with reaction reversibility info determined from delta G had feasibility problems. Let's think and discuss about this functionality over weeks before doing an actual implementation.

I hereby fully support delta G for rxns inclusion in RAVEN model structure. If we include the corresponding info for mets, we need to think how to store this. Probably in si

[2020-04-10 09:40] edkerk commented on #280
Interesting proposal, should this also stored in SBML when the model is exported? If so, in which field? As far as I know, SBML L3V1 FBCv2 does not have a field for such information.

[2020-04-11 08:45] Hao-Chalmers commented on #211
Now this issue has been resolved in #224.

[2020-04-11 08:45] #211 closed

[2020-04-13 12:53] edkerk commented on #185
No reply after >1 year, issue assumed to be solved.

[2020-04-13 12:53] #185 closed

[2020-04-13 12:53] edkerk commented on #179
No reply after >1 year, issue assumed to be solved.

[2020-04-13 12:53] #179 closed

[2020-04-14 08:07] simas232 commented on #280
Reaction specific delta G values can be stored in `modelSBML.reaction.notes` while using e.g. "deltaG:" identifier string

[2020-04-16 22:43] edkerk opened #281 "bug: find working solver with checkInstallation"
### Description of the issue:
I recently updated to MATLAB 2019b (Update 5) on Windows, and now I noticed the following bug, even though I cannot find any reason why updating MATLAB would cause this (and I cannot downgrade to confirm that it is the MATLAB version that is causing this...).

When running `checkInstallation`, it mentions that no working solvers can be found:

[code]
But when introduc

[2020-04-16 22:57] edkerk commented on #245
When releasing v2.3.2, modify Installation instructions on Wiki to remove mentions of MOSEK.

[2020-04-16 23:07] edkerk opened #282 "feat: test functioning of Gurobi 9"
### Description of the issue:
RAVEN installation instructions still refer to Gurobi 7.5. Version 9 of Gurobi has been released, is it fully compatible with RAVEN? If so, modify the installation instructions in the Wiki (probably best to remove any version-specific links, but rather refer to the [Quickstart](https://www.gurobi.com/documentation/quickstart.html) page for instuctions on installing th

[2020-04-16 23:10] edkerk commented on #280
Which deltaG value should be stored? @feiranl mentions that MetaCyc provides this information at pH 7.3 and ionic strength 0.25. But the standard Gibbs free energy (ΔG°') is normally measured at pH 7. Probably not a major difference, but it would be good to define a specific condition and provide Gibbs free energies for those.

[2020-04-17 07:00] Hao-Chalmers commented on #280
@edkerk MetaCyc does provide deltaG only at unique condition (pH 7.3 and ionic strength 0.25). What other conditions do you suggest?

[2020-04-17 08:08] edkerk commented on #280
It is important to have a clear definition of the condition, as changing any parameter will change the Gibbs free energy. Standard Gibbs free energy (ΔG°') is defined at pH 7, 298 K and 1 M concentration of reactants. MetaCyc's condition at pH 7.3 is different, but probably close enough to not result in drastically different values.

What temperature is defined for MetaCyc's condition? It is impor

[2020-04-17 09:15] simas232 commented on #280
@Hao-Chalmers, there must be a basis why MetaCyc curators decided to include delta G values upon pH 7.3, not pH 7. Could you please write a quick question to them and ask about this? You may thereby ask about the availability of additional details for conditions these delta G values were measured upon (concentration of reactants and products, temperature, pressure).

[2020-04-18 07:41] kabilan2818 opened #283 "bug: error in xml_parseany in MATLAB 2014b+"
tried to construct pathway using xml file bur it shows the below error. Could u help in this regards

[code]
v = xml_parseany(fileread('carbohydrate metabolism.xml'))
The P-code file C:\Users\Kabilan\Documents\MATLAB\RAVEN-master\software\xml_toolbox\xml_parseany.p was generated prior to
MATLAB version 7.5 (R2007b) and is no longer supported. Use pcode to regenerate the file using MATLAB R2007b or

[2020-04-18 08:58] edkerk commented on #283
Thanks for reporting this. Could you please provide a link to the XML file so we can try to replicate this?

[2020-05-12 17:15] kabilan2818 commented on #283
https://github.com/SysBioChalmers/Yeast-maps/tree/master/SBMLfiles/Carbohydrate%20metabolism

from this i have taken xml file.

On Sat, Apr 18, 2020 at 2:28 PM Eduard Kerkhoven <notifications@github.com>
wrote:

[2020-05-13 21:04] edkerk commented on #283
The problem lies with XML Toolbox no longer being supported by MATLAB 2014b and later, also see comments [here](https://se.mathworks.com/matlabcentral/fileexchange/4278-xml-toolbox). [tinyxml2](http://www.mathworks.com/matlabcentral/fileexchange/48308-tinyxml2-wrapper) is suggested as alternative toolbox, but this does not support the `xml_parseany()` functionality that is required by `constructPa

[2020-05-15 13:53] #17 closed

[2020-05-15 18:05] edkerk opened #288 "question: add RAVEN to path automatically?"
### Description of the issue:
`checkInstallation` now asks the user whether they want to add RAVEN to the MATLAB path. RAVEN wouldn't work without this, so it is imperative and should just be done automatically?

#### Reproducing this issue:
[code]

#### System information
1. RAVEN version: all
2. Operating system: all

**I hereby confirm that I have:**
- [x] Followed the [guidelines](https://gith

[2020-05-15 22:06] edkerk commented on #282
Seems to work fine working with it for a month. Also should be fine considering the following statement by Gurobi:

Regarding the Wiki, the installation instructions and links have remained the same.

[2020-05-15 22:06] #282 closed

[2020-05-18 20:35] #283 closed

[2020-06-04 10:37] #245 closed

[2020-06-04 10:37] #263 closed

[2020-06-04 10:37] #281 closed

[2020-06-04 10:37] #288 closed

[2020-06-29 12:11] NeeluBegum opened #305 "bug: broken links for Pre Trained HMMs"
### Description of the issue:

The link to download Pre trained HMMs is broken. release 94.0 to be precise

[2020-06-29 14:43] edkerk commented on #305
Downloading the pre-trained HMMs for release 94.0 seems to work fine here. @NeeluBegum could you please complete the whole Issue template, by providing the information below, so we can figure out what exactly happens in your case?

#### Reproducing this issue:
[code]

#### System information
* Please report:
1. RAVEN version (stabile [release](https://github.com/SysBioChalmers/RAVEN/releases), `de

[2020-07-07 02:02] lzh0321 opened #306 "chore: DIAMOND error -1073741515"
### Description of the issue:
Hello!
I use `getMetaCycModelForOrganism` to reconstruct the model, I use my protein sequence (.faa), but the run result shows an error:
[code]
What should I do? Thanks!
#### Reproducing this issue:
[code]

#### System information
* Please report:
1. RAVEN version: 2.4.0
2. Operating system: Windows 10

**I hereby confirm that I have:**
- [ ] Followed the [guidelines]

[2020-07-07 05:52] Hao-Chalmers commented on #306
Can you make sure if your query `faa` file is under current path when running the `getMetaCycModelForOrgansim` function?

[2020-07-07 06:31] lzh0321 commented on #306
yes,I can.

[2020-07-07 06:33] lzh0321 commented on #306
sorry,I miss an error:
DIAMOND makedb did not run successfully, error: -1073741515

[2020-07-07 06:56] Hao-Chalmers commented on #306
In order to reproduce the error, can you also notify us your OS and Matlab version?

[2020-07-07 07:01] lzh0321 commented on #306
OK,Windows 10,Matlab R2019a,RAVEN 2.4.0

[2020-07-08 05:51] Hao-Chalmers commented on #306
To rule out DIAMOND issues, can you run the `testDiamond` function in your environment see if you get errors.

[2020-07-08 06:07] lzh0321 commented on #306
Testing DIAMOND makedb... Not OK
error use dispEM (line 50)
DIAMOND makedb did not run successfully, error: -1073741515

[2020-07-08 11:21] edkerk commented on #306
Works fine here on Windows, so doesn't seem to be a general problem with DIAMOND on Windows 10. The error message seems to have something to do with "[the inability of an executable program to run due to missing essential components (one or many .dll files) or wrongly configured system files"](https://windowsreport.com/file-system-error-1073741515/#:~:text=File%20System%20Error%201073741515%20%2C%

[2020-07-08 11:33] Hao-Chalmers commented on #306
@edkerk thanks for the investigation. Then this is not a bug of RAVEN, but DIAMOND installation issue.

[2020-07-08 11:48] lzh0321 commented on #306
OK，I will try. Thank you very much for your help! @Hao-Chalmers @edkerk

[2020-07-08 11:48] edkerk commented on #306
@lzh0321 Could you please report back whether installation of Visual C++ Redistributable solves your issue, we could then automatically include this suggestion when this error code is encountered in Windows. Thanks!

[2020-07-09 03:35] lzh0321 commented on #306
Hello, I looked up my computer found Visual C++, and I reinstalled it, but the result also error. I refixed the system and the result is the same. I used three other computers, and it all turned out like this.

[2020-07-09 06:32] simas232 commented on #306
@lzh0321, could you please run `checkInstallation` and write us the full output here? Let's see if this problem is only related to DIAMOND or more general problem.

[2020-07-09 06:44] lzh0321 commented on #306
*** THE RAVEN TOOLBOX v.2.4.0 ***

Checking if RAVEN is on the MATLAB path...									OK
Checking if it is possible to parse a model in Microsoft Excel format...	OK
Checking if it is possible to import an SBML model using libSBML...			Not OK
To import SBML models, download libSBML from
http://sbml.org/Software/libSBML/Downloading_libSBML and add to MATLAB path
Solver found in preferences... none
C

[2020-07-09 07:37] simas232 commented on #306
Ok, we can conclude that this is not RAVEN or MATLAB issue, but merely an issue related to DIAMOND functionality in Windows. You can therefore try replacing the existing `diamond.exe` in `RAVEN/software/diamond` with the latest official DIAMOND version available [here](https://github.com/bbuchfink/diamond/releases). If it still doesn't work in your computer, please contact [the developer](https://

[2020-07-26 14:11] SPD20 opened #310 "PredictLocation using deeploc error"
### Description of the issue:

Hello, I am trying to incorporate location for my reactions. But I getting following error: Please find attached location file with my model.
[predict_location_juv.txt](https://github.com/SysBioChalmers/RAVEN/files/4977738/predict_location_juv.txt)
[juvenile_model_ori_gpr.xlsx](https://github.com/SysBioChalmers/RAVEN/files/4977749/juvenile_model_ori_gpr.xlsx)

Error

[2020-07-27 21:51] Hao-Chalmers opened #311 "feat: addition of `metadata` section to the yaml file specification in RAVEN"
### Description of the issue:
* This issue propose to include a `metadata` section to the yaml file specification in RAVEN
    - Previously, a `metadata` section was introduced to the tailored `yaml` file in [Human-GEM](https://github.com/SysBioChalmers/Human-GEM) serving for the requirements of [MetabolicAtlas](https://metabolicatlas.org), as detailed in issue [#71](https://github.com/SysBioChalm

[2020-07-28 15:46] BenjaSanchez commented on #311
For additional context, below the current `metaData` field in Human-GEM:

[code]

The new fields + modifications sound good to me. Additionally, it would be ideal if the field names in the yaml file match with the RAVEN spec names, for clarity. Below the cases that don't match based on what is already in RAVEN + the new names @Hao-Chalmers proposed:

| Field | Name in RAVEN | Name in `HumanGEM.yml

[2020-07-28 21:23] edkerk commented on #310
@SPD20 Could you please attach the model as SBML or MAT file, so we can replicate what you're trying to do?

[2020-07-28 21:28] edkerk commented on #311
Are their corresponding (or comparable) COBRA fields for `fullName`, `annotation.authors` and `annotation.description`?

[2020-07-28 21:42] SPD20 commented on #310
Hi,
Can I email the mat format model to you? Here its not letting me upload mat file saying that ..this kind of files are not supported.

Thanks

[2020-07-29 07:30] mihai-sysbio commented on #311
Here are the [latest yml fields are listed on COBRApy's `devel` branch](https://github.com/opencobra/cobrapy/blob/devel/src/cobra/io/dict.py#L60-L67). Imho, it doesn't look like a direct mapping of the RAVEN fields.

The `short-name` is something meant to be as human-friendly as possible. For example, this field is what is shown in the navigation bar on [Metabolic Atlas](https://www.metabolicatlas

[2020-07-29 07:57] Hao-Chalmers commented on #55
I previously had this problem while using MATLAB (R2018b and R2019b) on my computer (MacOS). Now this bug had been fixed in the latest version (2020).

[2020-07-29 13:30] simas232 commented on #55
@Hao-Chalmers, do you mean that you did not need to remove `Text Analytics Toolbox`?

[2020-07-29 13:33] Hao-Chalmers commented on #55
@simas232 no need to do anything under R2020a.

[2020-08-02 20:28] Hao-Chalmers commented on #311
@BenjaSanchez the **`Expected changes`** of this issue had been updated as you recommended.

[2020-08-02 21:06] edkerk commented on #310
You could ZIP the file first, then you should be able to attach it. Otherwise, you can email me at eduardk@chalmers.se.

[2020-08-04 19:03] Hao-Chalmers commented on #311
@edkerk there are no corresponding (or comparable) fields for `fullName`, `annotation.authors` and `annotation.description` in COBRA, according the latest model [spec](https://github.com/opencobra/cobratoolbox/blob/master/docs/source/notes/COBRAModelFields.md#field-support).

[2020-08-09 17:59] simas232 commented on #55
I ran `checkInstallation` in MATLAB R2020a (macOS Catalina) with `Text Analytics Toolbox` installed. Just like before, Excel I/O feature in RAVEN is still incompatible with `Text Analytics Toolbox`, which must be uninstalled to restore Excel I/O functionality.

[2020-08-10 14:54] mihai-sysbio commented on #311
@Hao-Chalmers would the **`Expected changes`** also include something about the `shortName` field?

[2020-08-10 15:08] Hao-Chalmers commented on #311
@mihai-sysbio I don't think an additional `shortName` field is needed, since it is equivalent to the exiting `id` field.

[2020-08-11 06:23] mihai-sysbio commented on #311
I see. To me, an ID does have to be human friendly, unlike `shortName`. I think it would be clearer if some examples would be provided, maybe even both "good" and "bad". For example, a "bad" `id` would be `h_sap13417__1_3_0`, standing for *Homo Sapiens* model with 13417 reactions and corresponding to version `1.3.0`.

[2020-08-11 19:46] Hao-Chalmers commented on #311
@mihai-sysbio good point in providing examples, which can be both added to the [spec](https://github.com/SysBioChalmers/RAVEN/wiki/RAVEN-Model-Structure) in Wiki once we reached a consensus.

[2020-08-13 20:57] edkerk commented on #310
@SPD20 I've received your model file, but I'm not able to replicate what you encounter. What are the exact commands that you run before `predictLocalization`?

[2020-08-14 19:09] SPD20 commented on #310
Hello,

Thanks for your reply and please accept my apology for not sending enough information.

This time I loaded my model file in xml format using ' model=importModel' function although it was loaded but with warnings

WARNING: The composition for the following metabolites could not be parsed:
	(5')ppPur-mRNA[Cytoplasm]
	2-Methylthio-N6-L-threonylcarbamoyladenine-in-tRNA[Cytoplasm]
	5'-(N7-Methy

[2020-08-17 10:46] edkerk commented on #310
Right, it seems like there is some issues with different sources of DeepLoc (online vs. offline) giving slightly different output (there is difference in comma vs tab-separated, naming and formatting of columns). We're currently figuring out what the correct formats are, this should then fix the problems you encountered.

As a work around for you for now, from your DeepLoc file `parseScores` shoul

[2020-08-17 10:54] SPD20 commented on #310
Dear Eduard,

Thank you very much for  this workaround. I will implement it and will let you know if it worked.

Thanks,
Sonal

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eduard Kerkhoven <notifications@github.com>
Sent: Monday, August 17, 2020 11:46:19 AM
To: SysBioChalmers/RAVEN <RAVEN@noreply.github.com>
Cc: Dahale, Sonal (PG/R - Sch of Biosci & Med)

[2020-11-05 09:32] SPD20 commented on #310
Dear Eduard,

Your workaround has worked and my GSS is giving some output. Is there anything I need to change in PredictLocalization script as well? As I am getting the following error.

[outModel, geneLocalization, transportStruct, score, removedRxns] = predictLocalization_edit(newModel,GSS_juv,defaultCompartment,transportCost,maxTime)

Error using vertcat
Dimensions of matrices being concatenate

[2020-11-12 23:07] edkerk commented on #310
@eiden309 You have been running predictLocalization, did you run into these issues? And how does the output look like that you are feeding into the function?

[2020-11-23 14:39] brunorbqi opened #318 "Print fluxes"
### Description of the issue:
I am following the tutorial 5 for the reconstruction of a metabolic model and having problem when I need to printFluxes
#### Reproducing this issue:

model.metNames(metabolite)

ans =

  0×0 empty cell array

Error using dispEM (line 50)
The number of fluxes and the number of reactions must be the same

Error in printFluxes (line 69)
    dispEM(EM);
I
#### System info

[2020-11-25 20:15] simas232 commented on #318
@brunorbqi, was everything fine when you ran `checkInstallation`? There may be a problem with the solver software.

[2020-11-26 00:05] brunorbqi commented on #318
Yes it was. I tried the tutorial 5 for Saccharomyces  and the print fluxes was ok. I am using the cobra solver by the way.

[2020-11-27 19:38] edkerk commented on #318
@brunorbqi Do you mean that you get the error message when you run tutorial 5 for _another_ organism, and not for _Saccharomyces cerevisiae_ as specified in the tutorial? An issue could be that `H+` is not included in your model, although it seems unlikely that this would be the case with a KEGG-generated model, but might be worthwhile to check. What output do you get when you run `disp(model)` an

[2020-12-07 11:07] NagihanMatlab opened #321 "I am having a problem with the diamond.exe file. I could not find a way to run it. Any suggestions on this?"
### Description of the issue:
*Try to be as clear as possible, e.g.:
- Is there a functionality missing?
- Did an existing function fail?
- What is the exact error message, and other output that you got?
- What have you tried yourself to fix it?

#### Reproducing this issue:
*If applicable, please attach the problematic code. PLEASE DELETE THIS LINE.*
[code]

#### System information
* Please repor

[2020-12-07 11:12] #321 closed

[2020-12-07 11:36] NagihanMatlab opened #322 "chore: DIAMOND error 255"
### Description of the issue:
[code]
#### Reproducing this issue:
[code]

#### System information
* Please report:
1. RAVEN version: 2.4.2
2. Operating system: Windows 8

**I hereby confirm that I have:**
- [x] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Installation) to install RAVEN.
- [ ] Checked that a similar issue does not [already exist](https://github.com/SysBioC

[2020-12-07 12:50] simas232 commented on #322
@NagihanMatlab, you should firstly finalise editing the given Issue template. Edit it and let us know thereupon. Also, make sure that you are familiar with the requirements checklist given in the bottom of the template. We will try to help to resolve your issue then.

[2020-12-07 12:54] simas232 commented on #321
Glad you had your issue solved. Feel free to reopen this issue if you encounter the same error again...

[2020-12-07 13:05] NagihanMatlab commented on #322
When I run this command, it outputs "DIAMOND makedb did not run successfully, error: -107374151"

[2020-12-07 14:05] edkerk commented on #322
@NagihanMatlab If you click on the three dots next to the smiley that is above your original post, you can select to edit your first post. Please provide more information on what command you're trying to run, what operating system you are working on, version of MATLAB, version of RAVEN, explanation of what you have tried yourself. With the current information that you provide we cannot help you to

[2020-12-07 18:08] NagihanMatlab commented on #306
@lzh0321 did you solve the problem? I am also facing the same problem, if you have any suggestions would you help me? Many thanks.

[2020-12-07 18:45] NagihanMatlab commented on #322
Operating system: Windows8, Matlab version: R2020a, Raven version :2.4.1
 I tried to run ScoMetaCycDraftModel=getMetaCycModelForOrganism('ScoMetaCyc','Sco_all_protein.faa',1); and the output was
Error using dispEM (line 47)
DIAMOND makedb did not run successfully, error: 255

Error in getDiamond (line 85)
    dispEM(EM,true);

Error in getMetaCycModelForOrganism (line 90)
    blastStruc=getDiamond

[2020-12-07 19:07] simas232 commented on #322
@NagihanMatlab, could you please run `[success,blastStructure]=testDiamond();` and let me know the value of `success` output parameter? If you get any errors, you can write paste them as well.

[2020-12-07 19:09] simas232 commented on #306
@NagihanMatlab, please read my last comment as this is not RAVEN, but the DIAMOND issue.

[2020-12-07 19:33] NagihanMatlab commented on #322
[success,blastStructure]=testDiamond();
Testing DIAMOND makedb... Not OK
Error using dispEM (line 47)
DIAMOND makedb did not run successfully, error: 255

Error in testDiamond (line 79)
        dispEM(EM,true);

[2020-12-07 20:04] simas232 commented on #322
@NagihanMatlab, thank you for an output. This error clearly indicates that this is a DIAMOND, not RAVEN issue. My first advice would be to test the newest DIAMOND version (just replace `diamond.exe` with the new file in `RAVENdir/software/diamond/`) and if it does not work then test the oldest versions, starting with `v0.7.3` since it is likely that newest DIAMOND versions are no longer compatible

[2020-12-07 20:09] NagihanMatlab commented on #322
Thank you.

7 Ara 2020 Pzt 23:05 tarihinde Simonas Marcišauskas <
notifications@github.com> şunu yazdı:

[2020-12-07 20:33] Hao-Chalmers commented on #322
@NagihanMatlab as suggested by @simas232 , the error you reported can be circumvented by using BLAST with following command:
`ScoMetaCycDraftModel=getMetaCycModelForOrganism('ScoMetaCyc','Sco_all_protein.faa',true,false,false,100,45,false);`

[2020-12-07 20:36] NagihanMatlab commented on #322
Thank you so much.I'll try it.

7 Ara 2020 Pzt 23:33 tarihinde Hao Wang <notifications@github.com> şunu
yazdı:

[2020-12-07 21:18] simas232 commented on #305
I checked the links and they are not working. @ckitti, could you please have a check in this?

[2020-12-08 18:00] NagihanMatlab commented on #322
I ran the "ScoMetaCycDraftModel=getMetaCycModelForOrganism('ScoMetaCyc','Sco_all_protein.faa',true,false,false,100,45,false);" command but the output did not change. Thank you. I will try to use the old versions of the diamond.

Error using dispEM (line 47)
makeblastdb did not run successfully, error: 1

Error in getBlast (line 84)
    dispEM(EM,true);

Error in getMetaCycModelForOrganism (line 92

[2020-12-08 20:40] simas232 commented on #322
Hm, I feel more and more suspicious about Windows 8 compatibility. Let's see if older DIAMOND versions resolve this issue.

[2020-12-13 07:54] eiden309 commented on #310
@edkerk yes I ran into the same issue previously, there is a minor bug in the function but it can be rectified by transposing `GSS.compartments(2:end)` in predictLocalization (line 611) i.e. adding `'` at the end of `GSS.compartments(2:end)`:

current: `outModel.compNames=[outModel.compNames;GSS.compartments(2:end)];`
new: `outModel.compNames=[outModel.compNames;GSS.compartments(2:end)'];`

I thin

[2021-01-31 19:31] edkerk commented on #305
All the links seem to work here?

As taken from `getKEGGModelForOrganism.m`:
euk100_kegg94: https://chalmersuniversity.box.com/shared/static/wbnghgtpgftb6pcw572bhkl9a8ekh32d.zip
euk90_kegg94: https://chalmersuniversity.box.com/shared/static/754bdz0965261fktzlwc77rcv7me87i6.zip
euk50_kegg94: https://chalmersuniversity.box.com/shared/static/5xwgv17cn099xn7bxo2dq5h1dsdxrhn7.zip
prok100_kegg94: https:

[2021-01-31 19:44] simas232 commented on #305
The links work for me as well.

Could it be that files stored in Box Sync are not available upon their maintenance routines? Mirror links may help to minimize this problem, but we got only a few such reports during the recent 2.5 years, suggesting that links are OK for most of the time.

[2021-01-31 20:10] edkerk commented on #305
Could be, but considering this rarely happens it's not really worth the effort? Easier to make `getModelFromHomology` to throw an informative error message, probably good to code that anyway. I'm not sure what error message you and others encountered when the link didn't work, but this is what I could fake:

[code]

So we could put `websave` in a `try ... catch` statement, catch ME with identifier

[2021-01-31 20:43] simas232 commented on #305
I recall that the error was "Not found" type. @edkerk, your idea regarding `try`, `catch` usage in `getKEGGModelForOrganism` is great. If `try` portion is unsuccessful, `catch` might notify about the error and advice users to report such case in Gitter RAVEN chat room.

[2021-01-31 21:09] edkerk commented on #305
Alright, I'll add it to my to do list :)

[2021-02-09 13:24] #305 closed

[2021-02-09 13:33] edkerk commented on #30
A work around for this is to install [COBRA Toolbox](https://github.com/opencobra/cobratoolbox), `setRavenSolver('cobra')` and `changeCobraSolver('glpk')`.

[2021-02-09 13:33] #30 closed

[2021-02-09 13:35] edkerk commented on #16
We will not implement an open source solver (#30), plus turning RAVEN into a MATLAB toolbox requires resources we do not have at the moment.

[2021-02-09 13:35] #16 closed

[2021-02-09 13:36] edkerk commented on #322
Duplicate of #306.

[2021-02-09 13:36] #322 closed

[2021-03-28 05:13] PandengWang opened #336 "Help: whether it is possible to skip HMM search, and use the K number provided by myself."
Thanks for providing this useful tool!

I didn't have genome sequence but got a list of (kegg) K numbers for one microbial species.
So, I want to know whether it is possible to construct a metabolic network for this species with just a list of K numbers?

Thanks so much.

Best regards,
Pandeng

[2021-03-28 06:26] Hao-Chalmers commented on #336
@PandengWang it is possible to construct a metabolic network using a list of K numbers. Here is one approach with following steps:

1.  extract involved reactions ids from the given list of K numbers (this step requires additional coding);
2. construct a reference metabolic network based on all information included in KEGG by using the [getModelFromKEGG](https://github.com/SysBioChalmers/RAVEN/blo

[2021-03-28 06:47] PandengWang commented on #336
@Hao-Chalmers Thanks so much for your quickly reply. I will give it a try.

[2021-04-07 10:55] #107 closed

[2021-04-07 12:59] edkerk commented on #77
As far as I know the yaml format from RAVEN and cobrapy are not identical.
- [ ] RAVEN does not yet output metadata (#311), while cobrapy does includes in the yaml file, although not necessarily all that is mentioned in #311.
- [ ] RAVEN gives list type field as array of string (#107), but cobrapy does not.

[2021-04-07 13:38] edkerk commented on #311
So should HumanGEM's `writeHumanYaml` be integrated in RAVEN's `writeYaml`, thereby capturing this metadata?

[2021-04-07 14:09] Hao-Chalmers commented on #311
full support

[2021-04-07 21:03] edkerk commented on #311
It is not sufficient to just define fields in the RAVEN model structure, and support export to YML file format. SBML is still the _de facto_ standard for model distribution, so these fields should also be properly stored there.

Related to this there are some unresolved issues:

1. If we introduce `version`, where is this stored in the SBML file? As far as I can find, this is not covered by the [S

[2021-04-08 09:21] Hao-Chalmers commented on #311
@edkerk good arguments indeed.

@mihai-sysbio what do you think, if `standard-GEM` can help in adopting some fields?

[2021-04-08 11:45] edkerk commented on #311
On second thought, perhaps it is better to move the discussion about incorporation in SBML into a separate issue, as the current issue is just about the MATLAB structure and the yaml file.
The points that remain relevant are:
2. Have a `model.name` field instead of `model.fullName`.
5. Have a `model.annotation.note` field instead of `model.annotation.description`.

[2021-04-09 06:45] mihai-sysbio commented on #311
@Hao-Chalmers it would make a lot of sense to standardize (and validate) that the `yml` file has these fields. However, as @edkerk pointed out, maintaining compatibility with existing formats is tricky (1.ii), especially the newly added fields are to be parsed by other tools as well.

To me, the easiest path forward is what @edkerk suggested above:

I would like to emphasize the different use case

[2021-04-09 10:34] #336 closed

[2021-04-09 10:48] Hao-Chalmers commented on #311
@edkerk @mihai-sysbio I adjusted the `Expected changes` of this issue according to your input.

[2021-04-09 20:31] edkerk commented on #311
`writeYaml` (5418e8814d0406259a7c2d526af1debcc6600a37) and the model fields definition ([Wiki](https://github.com/SysBioChalmers/RAVEN/wiki/RAVEN-Model-Structure)) are changed according to the discussion here, with the following exception:
- `givenName` and `familyName` remain as (non-mandatory) fields, while `authors` is an additional (non-mandatory) field. This is to ensure backwards compatibili

[2021-05-13 09:18] bardia510 opened #342 "help: getKEGGModelForOrganism invalid organism ID and HMM source"
Hi,
I am trying to make a model for a bacterium by RAVEN Toolbox but when I used getKEGGModelForOrganism(organismID) the draft showed only 110 Rxns! so I tried to use Protein Fastafile to get a better result but I faced to some errors.
I downloaded "prok100_kegg91" manually and used the command below:
model=getKEGGModelForOrganism('organism_id','fasta.csin.faa','prok100_kegg91')

These error appea

[2021-05-13 18:31] simas232 commented on #342
@bardia510, welcome to GitHub and RAVEN repository. When reporting a new issue in the RAVEN repository, it is essential to include an entire issue template (only the lines starting with the asterisk symbol (*) should be removed). One does not need to comply with all three requirements given at the bottom of the template, but following [the guidelines to install RAVEN](https://github.com/SysBioChal

[2021-05-13 19:02] simas232 opened #343 "bug: getKEGGModelForOrganism in FASTAless mode does not check for organismID validity"
### Description of the issue:
When running model reconstruction from KEGG without protein FASTA file, one can obtain the draft model even when `organismID` is invalid. Such a draft model contains spontaneous, incomplete, and general reactions, depending on their correspondent settings.

The function `getKEGGModelForOrganism` should check the validity of `organismID` even if it would not be possibl

[2021-05-14 12:37] bardia510 commented on #342
Dear @simas232 Thank you very very much for your prompt reply! I am sorry about I didn't follow the template.

I actually tried to download the latest version of Prok100_legg91 but the download link was broken.

I ran "checkInstallation" and the result was:

*** THE RAVEN TOOLBOX v.2.4.3 ***

Checking if RAVEN is on the MATLAB path...									OK
Checking if it is possible to parse a model in Micro

[2021-05-14 20:01] edkerk commented on #342
@simas232 Note that the link to `prok100_kegg*` that you posted actually pointed to version 91 and is therefore no longer online. `prok100_kegg94` is [here](https://chalmersuniversity.box.com/shared/static/3h8a21cjc0mifj9mqrwlpdoxq8g6u02d) and functional, this link was also changed in [`getKEGGModelForOrganism`](https://github.com/SysBioChalmers/RAVEN/commit/63adb7498b14632bd4e2aa17ac37ea386bcd467

[2021-05-16 17:52] bardia510 commented on #342
@edkerk
Hi, Thank you for sharing the link but as @simas232 told me I need Prok100_kegg94 but when I click at the link you shared, Prok100_kegg91 would downloaded.

I wonder if you could share the download link of Prok100_kegg94.

Thanks

[2021-05-16 18:10] simas232 commented on #342
@bardia510, I updated the download links for HMM sets including prok100_kegg94 in RAVEN Wiki. Please use [the following link](https://chalmersuniversity.box.com/shared/static/azpn5lwrb4gind2mn5hnbmux0lao5vt5) to download it.

HMMER seems to be working fine in your machine, let's see what draft model can you get when using prok100_kegg94. It may take up to 1 hour in Windows to fully run `getKEGGMod

[2021-05-16 18:34] bardia510 commented on #342
@simas232 Thank you so much for your help!
I will run the function and let you know.

Best regards

[2021-05-16 19:24] #311 closed

[2021-05-18 19:08] bardia510 commented on #342
@simas232
Hi, I ran the function but I faced to another error again. could you please tell me what the problem is?

Here is the results after running the function:

Downloading the HMMs archive file... COMPLETE
*** The model reconstruction from KEGG based on the protein homology search against KEGG Orthology specific HMMs ***

NOTE: Found prok100_kegg94 directory with pre-trained HMMs, it will the

[2021-05-19 19:42] simas232 commented on #342
@bardia510, this error means that the pre-trained HMM set is incomplete or cannot be recognized by RAVEN. Could you please include the prok100_kegg94 folder and your FASTA file in the same directory ar run the reconstruction again with the following settings:

 `model=getKEGGModelForOrganism('organism_id','fasta.csin.faa','prok100_kegg94')`;

If the error persists, try to reset MATLAB pathlist, do

[2021-05-19 19:44] simas232 commented on #342
You may also try to put your working files in Desktop, not in Documents as this may also be an issue of Windows security.

[2021-05-19 19:56] edkerk commented on #342
Before the reinstall of RAVEN, you may try to just remove the `prok100_kegg94` folder and the ZIP file before downloading it again. It might have been interrupted during download or ZIP extraction.

[2021-05-21 03:30] Preshita1997 opened #345 "help: many errors when running in MATLAB trial version"
I have one few problems while using RAVENTOOLBOX. I have installed MATLAB trial version R2021a and RAVEN Version 2.5.0 and branch master and getmodel homology ( I have tried both). Now I able to run tutorials available  in RAVEN toolbox successfully along with few function (codes) but majority of codes available in core file, external file, doc files are showing error while executing. One example

[2021-05-21 06:54] simas232 commented on #345
RAVEN is not compatible with MATLAB trial versions, try full version

[2021-05-21 19:37] edkerk commented on #345
@simas232 Why is does trial version not work?
@Preshita1997 How did you define `fastaFile` as part of the `blastStructure = getBlast(organismID, fastaFile, modelIDs, refFastaFiles)` command? Is it a string? I can only replicate this error if I do not specify the fastafile (so run `getBlast(organismID)` where `organismID = 'test'`). Can you please also post the output from `checkInstallation`?

[2021-05-21 20:33] simas232 commented on #345
@edkerk, I remember that several students had problems running RAVEN on the MATLAB trial version during the Metabolic Engineering course. That was back in autumn 2018-2019, not sure if this problem is still relevant. If I recall correctly, the Excel import function did not work, but I am not sure about the model reconstruction function, perhaps it worked well.

[2021-05-22 04:25] Preshita1997 commented on #345
Please find the attached screenshot of my matlab window. It seems there is
some error in a few lines and there are suggestions for adding percolating
arrays. Please help me solve this if possible.

On Sat, May 22, 2021 at 2:03 AM Simonas Marcišauskas <
***@***.***> wrote:

[2021-05-22 18:49] edkerk commented on #345
@Preshita1997 Screenshot is missing in your reply.

[2021-05-27 12:04] mcesur1991 opened #346 "help: fillGaps function"
Dear Sir/Madam,

I have reconstructed a genome-scale metabolic network model using an orthology-based approach. However, "cofactors and vitamins" in the biomass equation could not be produced. Therefore, I am trying gap-filling to add the lacking reactions.

To this aim, I defined biomass formation reaction as the objective function for both template and draft models. To allow the addition of grow

[2021-05-27 14:51] edkerk commented on #346
Welcome to RAVEN! To help you, it would be good to find out the following information:
- RAVEN version: `...`
- MATLAB version: `...`
- Solver selected: `...`
- Template model: `...`
I assume that the template model used for gap-filling is the same as the one used to generate the draft model?
What happens if you solve `balancedModel` before removing duplicate reactions?

[2021-05-28 12:03] mcesur1991 commented on #346
As you highlighted, the problem was related to the removed reactions. I manually checked these reactions and solved the problem.
Thank you so much for your prompt feedback.

Best Regards,

[2021-05-28 14:45] #346 closed

[2021-05-29 18:48] Preshita1997 commented on #345
Respected sir,
Please find the attached screenshot and help me rectify the same.
Apologies for the late reply.

Thank you,
Preshita Bhatt

On Sun, May 23, 2021 at 12:19 AM Eduard Kerkhoven ***@***.***>
wrote:

[2021-05-30 22:00] edkerk commented on #345
@Preshita1997 You should leave the comment + screenshot in GitHub, instead of replying via email. The screenshot is still missing.

[2021-06-02 11:41] Preshita1997 commented on #345
Respected sir,
Please find the attached screenshot and help me rectify the same.
Thank you.
![Screenshot (415)](https://user-images.githubusercontent.com/84510527/120474164-80b12a00-c3c5-11eb-86d3-0806298bddaf.png)

[2021-06-03 22:57] edkerk commented on #345
You have changed the file `getBlastFromExcel`, line 1 is not `function 0` but rather `function blastStructure=getBlastFromExcel(models,blastFile,organismId)`. Probably best to remove the `RAVEN-master` folder and again unzip the file you downloaded from the RAVEN GitHub repository.

[2021-06-17 09:02] anoop1988 opened #350 "bug: setParam multiple objective functions"
Hi,
I am using RAVEN tool kit for GEM reconstruction based gene expression data. But I am getting error in getINITModel2. Given below the code. Could someone help me to find the probolem,

params.MSK_DPAR_OPTIMIZER_MAX_TIME = 30000; % added for Mosek 7
params.MSK_DPAR_MIO_TOL_REL_GAP    = 0.02;  % added for Mosek 7

addpath(genpath('Human-GEM/'))
addpath(genpath('RAVEN-master/'))
addpath(genpath('

[2021-06-17 13:36] simas232 commented on #350
@anoop1988, RAVEN does not have a function called `getINITModel2`. Could you please give more information e.g. how this function is different than `getINITModel`? Also, it would be great if you share the output you get when running `checkInstallation()`.

[2021-06-17 13:52] JonathanRob commented on #350
@simas232 `getINITModel2` is from the `Human-GEM` repo.

@anoop1988, I think the issue comes from the solver parameters you're trying to set. It seems that you are setting Mosek parameters, but using Gurobi as the solver. Valid Gurobi parameters (in the `params` structure) are, for example, `TimeLimit`, `MIPGap`, `FeasibilityTol`, `OptimalityTol`. There are likely more, but maybe @simas232 or some

[2021-06-17 14:30] edkerk commented on #350
It is not related to the `params` structure, as it is actually nowhere used as input. Also, the error in `setParam` does not have to do with solver parameters, but setting the objective function in the model. However, I'm not sure what is actually happening.

Could you please run `essRxns=getEssentialRxns(model)`, so run it directly on the Human-GEM?

[2021-06-17 14:42] edkerk commented on #350
Not sure that is actually good or bad :), but at least it didn't throw a similar error as before. So `getEssentialRxns` and the functions it call are fine, and so is the model that you start with. Then the problem seems to be with the `checkTasks`/`getINITModel2` part. Perhaps there is something with the tasklist or the data, such that the model that is eventually parsed to `getEssentialRxns` is f

[2021-06-17 14:45] JonathanRob commented on #350
It's hard to tell from this where the error is coming from, but I also suspect something with the tasks. What did the output of the `checkTasks(model, [], true, false, false, essentialTasks)` command look like, @anoop1988 ?

[2021-06-17 14:47] anoop1988 commented on #350
This is output from checkTasks()
PASS: [ER] Aerobic rephosphorylation of ATP from glucose
PASS: [ER] Aerobic rephosphorylation of GTP
PASS: [ER] Aerobic rephosphorylation of CTP
PASS: [ER] Aerobic rephosphorylation of UTP
PASS: [BS] ATP de novo synthesis
PASS: [BS] CTP de novo synthesis
PASS: [BS] GTP de novo synthesis
PASS: [BS] UTP de novo synthesis
PASS: [BS] dATP de novo synthesis
PASS: [BS] d

[2021-06-17 15:42] JonathanRob commented on #350
Ok, that looks fine. Try running the below command:
`[taskReport, essentialRxnMat] = checkTasks(model, [], true, false, true, taskStructure);`

It will likely take some time to run, unfortunately, but should help narrow down the source of the error.

[2021-06-17 16:04] anoop1988 commented on #350
It also gives error,

Index exceeds the number of array elements (1).

Error in setParam (line 94)
            model.c(indexes(j))=params(j);

Error in getEssentialRxns (line 39)
        sol=solveLP(setParam(model,'obj',rxnsToCheck,-1));

Error in checkTasks (line 221)
                [~, taskEssential]=getEssentialRxns(tModel);

Error in Covid (line 47)
[taskReport, essentialRxnMat] = checkTasks(

[2021-06-18 07:05] JonathanRob commented on #350
Ok, I think I finally found the source of the problem.

@edkerk, a change was recently made to `setParam` (f68090a). This change made the following usage of the `setParam` function erroneous:

`model = setParam(model, 'obj', rxns, 1);`

where `rxns` is a vector of reactions with length > 1. It seems that the change to the function prevents assigning a single value (1) to several items. This could/

[2021-06-18 11:01] edkerk commented on #350
@JonathanRob Nice detective work! What would probably solve this is to move the zero'ing of `model.c` outside of that loop?

[code]

[2021-06-18 11:05] edkerk commented on #350
And that is of course in addition to the proposed handling of `params` in the top of the function.

[2021-06-21 07:45] anoop1988 commented on #350
Thank you, its working now.

[2021-07-06 07:26] haowang-bioinfo opened #353 "refactor: remove prefix 'M_' and 'R_' in exprotModel/importModel functions"
### Description of the issue:
* Prefixes `M_` and `R_` are added by `exprotModel` function while exporting, and removed by `importModel` while importing. This was initially designed to [follow](https://github.com/SysBioChalmers/RAVEN/blob/17df2147f604951705bdb2fbfcf12dac913a491e/io/importModel.m#L71) the "yeast consensus network model", which however had been replaced by `yeast-GEM` that is no lon

[2021-07-06 18:55] edkerk commented on #353
In principle I support this, but please note the following:

1. While documentation in `importModel` is mentioning the "yeast consensus network model", in essence it is about compatibility with COBRA toolbox. These prefixes used to be part of their "model format" (AFAIK), but they [still use it](https://github.com/opencobra/cobratoolbox/blob/25dbea46f08a9aeebcc24e0253293965d88e4ac6/src/base/io/uti

[2021-07-07 10:38] Hao-Chalmers commented on #353
It appears that the COBRA function `writeSBML` adds prefixes only when ID starts with number. While the `exportModel` in RAVEN applies prefixes to all IDs regardless of their format. Therefore, the prefixes added by COBRA is to avoid downstream errors, and it doesn't change any ids if they are valid. This means that COBRA has not special behaviour in formatting ids but error fixing.

[2021-07-08 12:58] edkerk commented on #353
Yes, but when COBRA then [reads](https://github.com/opencobra/cobratoolbox/blob/25dbea46f08a9aeebcc24e0253293965d88e4ac6/src/base/io/utilities/readSBML.m#L385) such a model, it removes the prefixes. So when loaded in COBRA there are never such prefixes, but the SBML file _can_ have such prefixes if required. With the proposed changes in `importModel`, you break this compatibility.

Scenario 1:
Mod

[2021-07-09 09:48] Hao-Chalmers commented on #353
@edkerk thanks for the detail explanations! I don't have an immediate solution the _compatibility_ issue, and hope to get an ideal way through discussion.

IMHO:
- the import/export functions should neither modify/reformat ids nor correct errors
- these function should report errors whenever possible
- it is the job of modellers to keep the IDs correctly formatted
- the validity of IDs is defined

[2021-07-15 09:57] Hao-Chalmers commented on #353
This sounds a good idea.

My opinion leans toward not enabling the old behaviour (i.e. break the compatibility).

The idea of having `a few regular expressions check whether the IDs are valid` appears to be a pragmatic solution for now.

[2021-07-26 04:40] joelmhaske opened #354 "CheckInstallation summary run through"
### Description of the issue:

Hi, this is the first time using RAVEN 2.0, I have followed the installation steps so far, the latest step covered is installation of guribo solver, run the command setRavenSolver and finally check installation. Following is the output, could you please guide as to what needs to be fixed still, as I can see still few status as NOT OK, I'm not completely sure of the s

[2021-07-26 05:05] Hao-Chalmers commented on #354
@joelmhaske welcome to RAVEN. To better help you, we'd like to know what specifically do you expected from RAVEN, GEM reconstruction or FBA analysis?

[2021-07-26 05:27] joelmhaske commented on #354
Hi Hao, My main focus at present is to use RAVEN for metabolic network reconstructions for hundreds of strains. I haven't decided yet about FBA analysis.

Thanks,
Kind Regards,
Joel

[2021-07-26 05:55] Hao-Chalmers commented on #354
Then you probably just move on to the reconstructions. RAVEN currently provides [getKEGGModelForOrganism](https://github.com/SysBioChalmers/RAVEN/blob/master/external/kegg/getKEGGModelForOrganism.m) and [getMetaCycModelForOrganism](https://github.com/SysBioChalmers/RAVEN/blob/master/external/metacyc/getMetaCycModelForOrganism.m) reconstruction functions that use KEGG and MetaCyc databases, respect

[2021-07-26 07:20] joelmhaske commented on #354
Okay thanks. Does that mean that the few "NOT OK" warnings from the checkInstallation test command wouldn't hamper the quality of reconstructions I'd be looking for?

[2021-07-26 07:29] simas232 commented on #354
@joelmhaske, if you plan to use `compareModels` then you need to be extra careful. On the other hand, models should be curated manually afterward anyway, so this should not give any problems during reconstruction.

[2021-07-26 07:36] Hao-Chalmers commented on #354
The two "NOT OK" about gurobi and cobra solvers indicates that you cannot run FBA, which wouldn't affect reconstructions.

[2021-08-05 20:04] siusenphang commented on #55
I'm having the same problem with a twist. In my case the Matlab R2020b run time environment is the one introducing the Java libraries that generate the conflict. My application runs fine in Matlab interactive mode but for execution in a production environment (Linux) we compile our Matlab code with the mcc compiler and use the Matlab run time environment to run it.

My installation of the run time

[2021-08-09 20:02] edkerk commented on #353
To keep the discussion mostly here, I have the following comment on #356, where currently only `exportModel` is changed:

What about `importModel`? A round of I/O (`importModel` -> `exportModel`) of a COBRA-style SBML file will now change all IDs:

[code]

Above (#353), it was discussed to also deprecate the behaviour of `importModel` that currently removes `R_` and similar prefixes. This would re

[2021-08-09 21:05] glucksfall commented on #354
Hello everyone,

I'm not a developer of RAVEN, just installed it today to use, so for future references:

Checking if it is possible to solve an LP problem using gurobi...:
- Install gurobi and add to the path GUROBI_PATH/linux64/matlab (change linux64 for the relevant directory in your SO)

Checking if it is possible to solve an LP problem using cobra...:
- Install cobratoolbox and add to the pat

[2021-08-10 06:31] mihai-sysbio commented on #353
Yes!

My 2 cents: Cobra's design choice to _modify_ the identifiers is not optimal and is affecting everyone, not just us. Rather than worrying about maintaining Raven's compatibility with Cobra, Cobra's design choice should be reported and corrected at source.

[2021-08-10 09:20] simas232 commented on #354
@glucksfall, thank you for the useful tips! For the sake of readability, I changed the formatting of your post a little bit. I think RAVEN Wiki already covers the installation issues comprehensively but it is always good to check these instructions again and consider implementing the tips you pointed out.

Could you please specify which Linux distribution and version are you using? Even though `cd

[2021-08-10 11:29] edkerk commented on #353
I agree, so let's be consistent then and deprecate the identifier modifications by `importModel` as well.

[2021-08-10 18:21] glucksfall commented on #354
Hi @simas232,

Thanks for your reply. Actually, I came to the issues looking for if people already asked about that weird issue regarding `cd-hit`. So, I thought it would be helpful to add information to the original question. Just if others as me, don't read the Wiki.

BTW, I use Ubuntu 20.04.

Best!

[2021-08-11 16:46] Hao-Chalmers commented on #353
Agree to deprecate the identifier modifications both in `importModel` and `exportModel`

Besides `model.mets`, `model.mets`, and `model.mets`, what else fields should also be checked? Should the check be made by a new function (e.g. `checkIDValidity`) or included into the existing `checkModelStruct.m ` function? @edkerk @simas232

[2021-08-12 10:02] simas232 commented on #353
We should also check `model.genes` as I saw some rare examples a couple of years ago of genes having "G_" in the beginning.

This functionality seems to be a little bit out of scope from `checkModelStruct` function, but I suggest we do not create any new functions anyway.

[2021-08-12 12:08] edkerk commented on #353
To my knowledge that would indeed cover all cases, `model.mets`, `model.rxns`, `model.comps` and `model.genes` (I think COBRA Toolbox still adds the `G_` prefix?).

I like the idea of incorporating it in `checkModelStruct`, just make sure that `exportModel` then always runs `checkModelStruct`, as this is not the default currently:

https://github.com/SysBioChalmers/RAVEN/blob/53fe2b700f86dce9b46be

[2021-08-14 19:08] #350 closed

[2021-09-03 12:51] joel8484 opened #365 "help: permission denied to use euk100_kegg94"
Hi there,

I was following the tutorials and in tutorial 5 where we have to use the pre-defined HMMs where we use euk100_kegg94, I downloaded it and moved it to the RAVEN directory where all the dependencies are stored. However, when I ran the first command `getKEGGModelForOrganism` I got an error that the Permission to unzip the eukaryote HMM file was denied. I tried changing the file permissions

[2021-09-03 14:32] edkerk commented on #365
Could you please use the "New issue template"? This would give us (1) the exact command that you use; (2) your version of RAVEN; MATLAB; OS; and please also report the exact error message that you get, so we can try to replicate what you observe!

[2021-09-03 15:42] mihai-sysbio opened #366 "unintended prefix for compartment i"
### Description of the issue:
When exporting Human-GEM from `yml` to `xml`, the compartment `i` becomes `c_i`. It is the only compartment that gets prefixed with `c_`. The root cause is likely in the lines https://github.com/SysBioChalmers/RAVEN/blob/800362e71b9d04ae2e2a16960b9d19aff346d37e/io/exportModel.m#L224-L231
Maybe due to the unintended interpretation of i as an [imaginary unit](https://en

[2021-09-03 20:25] edkerk commented on #366
You're right. Checking whether something is numeric using `str2double` is very sloppy, this is fixed by changing line 225 as:

[code]

Will make a PR for this asap. Meanwhile, `exportModel` from #360, together with the extended `checkModelStruct` from #353 would prevent these issues.

[2021-09-04 15:36] mihai-sysbio commented on #366
Thanks @edkerk for the quick action.

[2021-09-08 03:35] joel8484 commented on #365
Hi Eduard,

Thanks for the reply. Below I have tried my best to give a description for the issue which I am facing.

### Description of the issue:

- Is there a functionality missing?
Yes, a few of them I would like to mention here: for LP solver while running RAVEN because I have some issues I think might be because of running gurobi in a docker container. As per the tutorials the installation of

[2021-09-08 09:44] edkerk commented on #365
1. Regarding gurobi unfortunately we cannot do more than refer to gurobi.com, and it seems like you have been in contact with them. As an alternative, have you tried installing [COBRA Toolbox](https://github.com/opencobra/cobratoolbox/) and setting `setRavenSolver('cobra')`, as it can use the open-source *glpk* solver that comes with COBRA Toolbox? We are currently working on implementing *glpk* d

[2021-09-12 15:27] joel8484 commented on #365
Hi Eduard,

I followed your provided steps and it worked perfect for me. Althought for the Permission denied errors what I did was to change the permission for the entire RAVEN folder using `chmod -R a+rwx RAVEN` and this cleared a bit of air for me. Next I ran tutorial 6 which is of my interest for my work in using RAVEN to make metabolic reconstructions for 100 prokaryote strains. Since, it woul

[2021-09-12 21:32] edkerk commented on #365
The link you refer to is indeed suitable for prokaryotes.

There is no built-in code to parallelize model generation, you should probably write a script with `for` loops to go through the 100 strains one by one. From tutorial 6 I suggest you only run `line 49`, the HMM-based search, as the MetaCyc approach (`line  30`) often gives false positives and requires manual curation that is not feasible f

[2021-09-12 21:32] #365 closed

[2021-09-15 15:40] joel8484 opened #370 "feat: use SBML GEMs in the pipeline based on tutorial6"
### Description of the issue:
Hi I wanted to create and compare a combined GEM with a previously existing model which is in .sbml format. As I saw in the tutorial, a reconstruction in .mat format has been loaded as an input. I just wanted to ask whether the same functions will run if I load a model in .sbml format as well?
*Try to be as clear as possible, e.g.:
- Is there a functionality missing?

[2021-09-15 16:53] simas232 commented on #370
@joel8484, yes, you can import GEMs in SBML format and use them in the `tutorial6` pipeline as well. Just use the `importModel` function instead of `load`. FYI, it is possible to export imported GEMs to `mat` format if needed.

I also see that you get an error in Line 91. The `selectedNewRxns` structure should only contain reactions that are found in the new GEM version. The purpose of this comman

[2021-09-16 01:33] joel8484 commented on #370
Hi Simonas, Okay I learn that the file obtained in tutorial 6 iMK1208+suppInfo.mat is done by manual curation. However, can I find a workflow of commands which can render which I will follow to get those? It would be very helpful. As I'm exploring the best use of RAVEN to get reconstructions for my project. I might have to ask few queries here and there with some new functionalities I will face al

[2021-09-16 11:07] simas232 commented on #370
You can find several relevant functions demonstrated in `tutorial5`. Before proceeding, you should first decide which one of those two models is the primary one. It is imperative that this model is functional, i.e. can predict growth in a given medium. This would be the model which you would then enrich with reactions from the other (secondary) model.

Might be a better idea not to immediately use

[2021-09-17 21:31] joel8484 commented on #370
Hi Simonas,

Thanks perfect. One last query before closing this thread: Actually this is for tutorial 5 - after manual curation and running the entire template, the new model that is curated can be exported to my drive using exportModel(newModel, 'abc.faa.xml') and this should give me the curated model, is that correct?

Regards,
Joel

[2021-09-18 09:40] simas232 commented on #370
Yes, you can export the curated model back to SBML format with the `exportModel` function. Just try to only use dot symbols to separate the file format from the filename, not in the filename instead, to avoid confusion. In your example, the more appropriate full name for the model would be `abc_faa.xml`.

FYI, RAVEN also supports non-conventional Excel format which can be exported from MATLAB usin

[2021-09-18 12:36] joel8484 commented on #370
Oh yeah. I was meaning to put an underscore in the file name; my naming convention was by mistake. Thanks, Simonas for your guidance.
Regards,
Joel

[2021-09-18 12:36] #370 closed

[2021-09-19 11:20] Hao-Chalmers commented on #353
A section for validating id format with regular expressions is added to `checkModelStruct` by commit 66f5a0ee7c3d40fb9e26c09c3b0f72c2612b672c.

Next is to enable `checkModelStruct` by default in `exportModel`, probably also  in `importModel`.

[2021-09-25 17:59] joel8484 opened #371 "exportModel error: model contains certain columns with regex characters"
Hi, since I am using RAVEN 2.0 to create combined drafts from KEGG and MetaCyc for about 100 strains, I am facing an issue for few strains when I try to exportModel to .xml format. The draft model is made, and combined model is created but, only a few of them pose an error when trying to export to .xml. I will provide the error below
*Try to be as clear as possible, e.g.:
- Is there a functionalit

[2021-09-25 18:27] simas232 commented on #371
Dear Joel,

I do not think that the model reconstruction functions are compatible with the `gz` format. Could you please uncompress (extract) these FASTA files and run the pipeline with FASTA files in the `fa` format as input instead?

[2021-09-25 18:32] joel8484 commented on #371
Dear Simonas,

Thanks for the swift response. I see, that will pose the problem for the software. I have a question on similar terms - there were other strains used in gz format, with which the models were made. Is it possible that those might be erroneous?

[2021-09-25 18:59] simas232 commented on #371
I never used `gz` files as an input to reconstruct models, but it is likely that these models are errorenous. You can reconstruct two parallel models and compare them using the `isEqual` function. For instance:

`EcoMetaCycDraftModel1=getMetaCycModelForOrganism('ecokMetaCyc', 'Escherichia_coli_BW25113.faa.gz',1);
EcoMetaCycDraftModel2=getMetaCycModelForOrganism('ecokMetaCyc', 'Escherichia_coli_BW2

[2021-09-25 19:20] joel8484 commented on #371
***UPDATE***

Dear Simonas,
I ran the script for the same strain .faa file as input. Got the same error again.

[2021-09-25 19:34] edkerk commented on #371
Can you give an example of what the genes in your new model are called? Does it maybe contain characters that confuse the regex that is done by `exportModel`?

[2021-09-26 11:34] joel8484 commented on #371
Hi Eduard,

I extracted the list of genes by disp(EcoCombinedDraftModel.genes), and here's a long list of genes:

![image](https://user-images.githubusercontent.com/65961658/134805869-9ccbf17b-28e3-450d-b0b6-42a2e795798e.png)
![image](https://user-images.githubusercontent.com/65961658/134805902-67a52c54-285d-4585-9dd1-d518174de4fd.png)

Not sure why I wasn't able to directly paste them here. Howev

[2021-10-20 08:54] zahraazimzadeh opened #372 "gapreport"
### Description of the issue:
*Try to be as clear as possible, e.g.:
- Is there a functionality missing?
- Did an existing function fail? yes gapreport
- What is the exact error message, and other output that you got? Gap analysis for iMT1026v3 - Torres2019 - Contextualized P. pastoris GSMM under glucose growth and various oxygenation levels

Index exceeds the number of array elements (0).

Error

[2021-10-26 11:44] edkerk opened #375 "compareModels similar name as in cobratoolbox"
### Description of the issue:
There is a `compareModels` function in [RAVEN](https://github.com/SysBioChalmers/RAVEN/blob/master/core/compareModels.m), while a similarly named function exists in [COBRA](https://github.com/opencobra/cobratoolbox/blob/master/src/reconstruction/comparison/compareModels.m).

Also reported as part of #354.

`compareModels` in RAVEN is not called by any other functions

[2021-10-26 19:58] simas232 opened #376 "feat: migrate KEGG HMM sets from Box Sync to GitHub"
### Description of the issue:
KEGG HMM sets are currently stored in Box Sync. This was a great temporary solution for several years, but the time has come to deposit them somewhere else for simplified maintenance. I tested several options (Git LFS, external repository) and found a really elegant solution.

I suggest we manually include KEGG HMM zip archives as binary files in the current and futur

[2021-11-02 16:42] mascencio27 opened #378 "exportModel error"
### Description of the issue:

When trying to export the Raven format model to xml with the function (exportModel(modelRAVEN2,'reh16_V10.xml',1,0) it generates the following errors:

WARNING: There is no unconstrained field in the model structure. This means that no metabolites are considered exchange metabolites

WARNING: The "inchis" field must be a cell array of strings

WARNING: The "rxnRefere

[2021-11-02 22:22] edkerk commented on #378
1. Could you please specify which RAVEN version you're using?

2. There is a warning about non-unique reaction identifiers. What is the output of `modelRAVEN2.rxns(duplicates(modelRAVEN2.rxns))`?

3. Then, there are warnings about `inchis` and `rxnReferences` (I'm not sure why you also add other empty fields when you try to resolve the problem). What is the output of:
[code]

4. In your solution,

[2021-11-03 13:59] mascencio27 commented on #378
Thanks Eduard!
THE RAVEN TOOLBOX v.2.4.0

[2021-11-03 14:54] edkerk commented on #378
The problem is with `readCbModel` that seems to write empty doubles instead of empty strings, probably specifically when reading XLS format. This is part of COBRA Toolbox, not RAVEN.

But as I wrote above, if you do not care about the content fields you can just remove them (maybe these fields are completely empty anyway?). Otherwise you'd have to manually populate those fields, there are no dedic

[2021-11-03 15:10] mascencio27 commented on #378
Thanks you for your answer.

I tried again and it shows the same error :(

WARNING: There is no unconstrained field in the model structure. This means that no metabolites are considered exchange metabolites

WARNING: The "inchis" field must be a cell array of strings

WARNING: The model contains empty reaction IDs

WARNING: The following reaction IDs are duplicates:

Array indices must be positive

[2021-11-03 20:01] edkerk commented on #378
Also try the [latest RAVEN version](https://github.com/SysBioChalmers/RAVEN/releases) (2.5.3).

What does `modelRAVEN2.metComps` contain, maybe print the output of `modelRAVEN2.metComps(1:10)`, or does `class(modelRAVEN2.metComps)` give the output 'double'?

Empty reaction IDs is problematic (I missed that in your first message), `find(cellfun(@isempty, modelCOBRA))` will give you with reactions d

[2021-11-03 21:12] mascencio27 commented on #378
Thanks you for your response.

I resolve the inconvenient with the arrays, but, now the error is:

typecode =

    'fbc_objective'

SBMLfieldnames =

     []

Error using OutputSBML

First input must be a valid MATLAB_SBML Structure

Errors reported: fbc_objective structure reports fbc_objective level mismatch
USAGE: OutputSBML(SBMLModel, (filename), (exclusiveFlag), (applyUserValidation))

Error

[2021-11-04 07:54] edkerk commented on #378
Is any reaction set as objective function? `find(modelRAVEN2.c)`

[2021-11-04 13:06] mascencio27 commented on #378
Thanks you for your response.

Yes.

find(modelRAVEN2.c)

ans =

        2752
        2865
        2866
        2867
        2868
        2869
        2870
        2871
        2872
        2873
        2874
        2875
        2876
        2877
        2878
        2879
        2880
        2881
        2882
        2883
        2884
        2885
        2886
        2887
        2888

[2021-11-04 13:44] mascencio27 commented on #378
Dear Eduard.

The problem is solved. Sure enough I had more than one objective function, by modifying the file it was possible to convert it to xml.

Thanks for your great help.

Greetings

[2021-11-04 13:54] edkerk commented on #378
Good to know that SBML FBCv2 does not allow for multiple objective functions, we'll include this check in RAVEN.

It seems that all RAVEN-related problems are solved, so I will close this issue. If you run into any other problems, feel free to open a new issue!

[2021-11-04 13:54] #378 closed

[2021-11-10 04:15] OAshkar opened #380 "bug: exportModel writes invalid fluxObjective in SBML"
### Description of the issue:
- I created multiple tissue models using getINITModel2() function.  Then I exported those models in SBML format individually using the following command.

[code]
- Then, I have tried to use the R package piano to read these models _(please note that this is an R code)_
[code]
I got the following error:
[code]

#### System information
Operating system (Ubuntu 20.04)

*

[2021-11-10 11:37] edkerk commented on #380
Just a check that an objective function was set for this model before export? `Model.rxns(Model.c))`

[2021-12-06 05:51] mihai-sysbio opened #382 "rename `master` to `main`"
### Description of the issue:
The `master` branch should be renamed to `main`.
In addition:
- [ ] the wiki repository should also update any reference from `master` to `main`
- [ ] the documentation should be regenerated

**I hereby confirm that I have:**
- [x] Followed the [guidelines](https://github.com/SysBioChalmers/RAVEN/wiki/Installation) to install RAVEN.
- [x] Checked that a similar issue

[2021-12-06 20:13] edkerk commented on #353
A more recent concern I'm having is that many models use BiGG IDs that [can](https://registry.identifiers.org/registry/bigg.metabolite) start with digits. ~~Considering that this PR would follow the same philosphy of cobrapy (do not change identifiers),~~ how are metabolite IDs represented in cobrapy if the model uses BiGG IDs as metabolite identifiers? Or actually, how are BiGG IDs represented in

[2021-12-10 13:30] mihai-sysbio commented on #353
There are many different options to handle the exceptions introduced by SBML.
For me, uniformity and absence of surprises are important. This is why I really like that:

We already know from MetaNetX that prefixed IDs in SBML when they are _not_ needed is bad. Moving forward we would at least have to make this conditional.

I'm tempted to go as far as completely dropping support for prefixing mode

[2021-12-10 14:27] edkerk commented on #353
We can then have default I/O behaviour to leave identifiers untouched, but include a `COBRAstyle` flag to replicate that behaviour.

[2021-12-10 14:50] mihai-sysbio commented on #353
Instead of `COBRAstyle` as a parameter, how about the following scenario: exporting an incompatible model crashes  `exportModel` with a message asking the user to run a function called `makeIdsSBMLFriendly`. This renames all the broken ids in the model. This would leave the import/export untouched, keeping the functions modular. Imho an even better approach would be to trigger the same warning at

[2021-12-10 15:22] mihai-sysbio commented on #376
My suggestion would be to go ahead with Git LFS, since it is already used for this repository.

[2021-12-10 20:27] edkerk commented on #353
But how will it rename those identifiers to make them valid SBML? Will it add the prefixes? In that case, wouldn't it make more sense to then add these prefixes all metabolites/reactions/genes, and basically follow COBRA-style? Would be weird to end up with some hybrid version.

What if `checkModelStruct` (that runs in the beginning of `exportModel`) not only throws a error when it finds invalid i

[2021-12-13 17:57] simas232 commented on #376
I did not know that Git LFS is used in this repository. Which files are traced?

Though, I am quite hesitant to use Git LFS to store KEGG HMMs since i) this forces users to download all 6 HMM sets; ii) there is a [monthly bandwidth quota of 1 GB](https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-storage-and-bandwidth-usage) that we would use very quickly and iii

[2021-12-13 17:59] simas232 commented on #375
Since there are no opinions from the others, I think it is okay if we rename `compareModels` into `compareRxnsGenesMetsComps`.

[2021-12-13 18:58] mihai-sysbio commented on #376
Let's not worry yet about (ii), I took care of it a while back and it still looks great
<img width="380" alt="image" src="https://user-images.githubusercontent.com/23480589/145871316-86ae2de0-d5fa-4d1d-9e3e-f2f90bfc4ca4.png">
I value the transparency (no one expects "new" stuff to be attached to a release), and simplicity (everything is fetched in the same command/action).
That being said, I don't

[2021-12-13 19:41] edkerk commented on #376
But there is no way of removing stuff from Git LFS, except from deleting the repo.

With the proposed solution, `getKEGGModelForOrganism` works as it's always done. Users won't manually download the HMM ZIP file from the `Release` view, it would be downloaded upon request by `getKEGGModelForOrganism`, it's just hosted on GitHub instead of on Box. As long as this is well documented in the SOP for u

[2021-12-15 05:44] mihai-sysbio commented on #376
So how do we advance from here:
- should we create a PR straight-up from https://github.com/SysBioChalmers/RAVEN/compare/devel...test/checkKEGGHMMsRepo ?
- should we document this change in the release process somewhere?

[2021-12-15 19:09] simas232 commented on #376
@mihai-sysbio, yes, we would create a PR from the branch you mentioned. Meanwhile, we would attach HMM sets to the RAVEN release in which KEGG Release 94 was introduced, because otherwise there is no way for us to check that the download links are working before releasing the new RAVEN version. Regarding the documentation of this change, I think that the description in the corresponding PR will be

[2021-12-19 19:04] edkerk commented on #343
@simas232 I believe the list of valid organism IDs can be obtained from KEGG's `taxonomy` file? This could be extracted as part of updating the KEGG version, and stored as flat-text in `external/kegg`?

[2021-12-29 21:01] simas232 commented on #343
@edkerk, the list of valid KEGG organism IDs is already included in `phylDistStruct.ids` so this implementation seems to be straightforward.

[2022-02-03 20:15] edkerk opened #394 "distribute less pre-trained HMMs: evaluate seqIdentity parameter in getKEGGModelForOrganism"
### Description of the issue:

**tldr; we'll only keep distributing pretrained HMMs where the sequence identity treshold was set at 90%.**

Since RAVEN release 1.9.1 (commit dd7e2e758fe011253c3d192bd38d840c5747821d), CD-HIT is implemented to reduce the KEGG-provided sequences to non-redundant sets by clustering similar sequences, prior to multi-sequence alignment by MAFFT and HMM training by HMMer

[2022-02-06 20:32] simas232 commented on #394
Thank you for this detailed analysis, @edkerk. I see that in terms of accuracy, the 90% cutoff provided the best results. If one aims to obtain the draft model for the non-KEGG species, it makes perfect sense to use KEGG HMM sets that were trained upon 90% cutoff. Meanwhile, for the species that are enlisted in KEGG, it may seem more appropriate to combine FASTAless reconstruction and the 50% cuto

[2022-02-06 23:14] edkerk commented on #394
Thanks Simonas. I however don't agree with your second statement (for KEGG-enlisted species).

I take the assumption that _E. coli_, _S. cerevisiae_ and _H. sapiens_ are well annotated in KEGG. So I would not expect that RAVEN's HMM-based search suddenly finds 20-30 new reactions that were previously not annotated for these well-curated organisms. I could of course in-depth investigate whether the

[2022-02-09 14:50] #376 closed

[2022-02-09 14:51] #375 closed

[2022-02-09 14:51] #366 closed

[2022-02-09 14:53] #306 closed

[2022-02-09 15:10] edkerk commented on #354
Since release v2.6.0, the output from `checkInstallation()` has changed:

[code]

CD-HIT and MAFFT binaries are only tested if `checkInstallation(true)` is run.

[2022-02-09 15:10] #354 closed